<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin_fragments::head"></head>

<body>
<div class="container-fluid position-relative d-flex p-0">
    <!-- Sidebar Start -->
    <div th:replace="admin_fragments::sidebar"></div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav th:replace="admin_fragments::navbar"></nav>
        <!-- Navbar End -->


        <!--CONTENT HERE-->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4" style="display: flex; justify-content: center;">
                <div class="col-sm-12 col-xl-10">
                    <div class="bg-secondary rounded h-100 p-4">
                        <div class="mb-4">
                            <span style="font-weight: bold">CREATE MATCH</span>
                            <a class="mb-4" style="float: right;" th:href="@{/admin/matches}">
                                <i class="fas fa-arrow-left"></i>
                            </a>
                        </div>
                        <form th:action="@{/admin/match/new/save}" th:object="${match}" method="post">
                            <div class="row mb-3">
                                <label class="col-sm-3 col-form-label">Match Time</label>
                                <div class="col-sm-9">
                                    <input type="datetime-local" th:field="*{match_time}" class="form-control" required>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-3 col-form-label">Home Team - Away Team</label>
                                <div class="col-sm-4">
                                    <select class="form-select" th:field="*{home_team_id}" aria-label="Team" required>
                                        <option value="" selected>-- Choose home team --</option>
                                        <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.name}"></option>
                                    </select>
                                </div>
                                <div class="col-sm-1" style="display: flex; align-items: center; justify-content: center">
                                    VS
                                </div>
                                <div class="col-sm-4">
                                    <select class="form-select" th:field="*{away_team_id}" aria-label="Team" required>
                                        <option value="" selected>-- Choose away team --</option>
                                        <option th:each="team : ${teams}" th:value="${team.id}" th:text="${team.name}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-3 col-form-label">Stadium Takes Place</label>
                                <div class="col-sm-9">
                                    <select class="form-select" th:field="*{stadium_id}" aria-label="Stadium" required>
                                        <option value="" selected>-- Choose option --</option>
                                        <option th:each="stadium : ${stadiums}" th:value="${stadium.id}" th:text="${stadium.name}"></option>
                                    </select>
                                </div>
                            </div>

                            <div class="mb-4" style="float: right">
                                <button type="submit" class="btn btn-primary">Create</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--/END CONTENT-->

    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <div th:replace="admin_fragments::back-to-top"></div>
</div>

<div th:replace="admin_fragments::script"></div>

</body>

</html>