<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin_fragments::head"></head>

<body>
<div class="container-fluid position-relative d-flex p-0">
    <!-- Sidebar Start -->
    <div th:replace="admin_fragments::sidebar"></div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav th:replace="admin_fragments::navbar"></nav>
        <!-- Navbar End -->


        <!--CONTENT HERE-->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4" style="display: flex; justify-content: center;">
                <div class="col-sm-12 col-xl-10">
                    <div class="bg-secondary rounded h-100 p-4">
                        <div class="mb-4">
                            <span style="font-weight: bold">EDIT STADIUM</span>
                            <a class="mb-4" style="float: right;" th:href="@{/admin/stadiums}">
                                <i class="fas fa-arrow-left"></i>
                            </a>
                        </div>
                        <form th:action="@{/admin/stadium/update/{id} (id = ${stadiumDTO.id})}" th:object="${stadiumDTO}"
                              method="post" enctype="multipart/form-data">
                            <div class="row mb-3" style="height: 100px; display: flex; align-items: center">
                                <label class="col-sm-2 col-form-label">Map Image Stadium</label>
                                <div class="col-sm-4">
                                    <input class="form-control" type="file" id="image"
                                           name="logo">
                                </div>
                                <div class="col-md-4">
                                    <img style="width: 90px;" th:src="@{${stadiumDTO.map_img}}">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Name Stadium</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" th:field="*{name}" name="name">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Description Stadium</label>
                                <div class="col-sm-10">
                                    <textarea id="description" name="description" th:field="*{description}"
                                              class="form-control"></textarea>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Status</label>
                                <div class="col-sm-10">
                                    <select class="form-select" id="status" name="status" aria-label="status"
                                            th:field="*{status}" required>
                                        <option value="" selected>-- choose option --</option>
                                        <option value="0" th:selected="${stadiumDTO.status == 0}">Inactive</option>
                                        <option value="1" th:selected="${stadiumDTO.status == 1}">Active</option>
                                    </select>
                                </div>
                            </div>

                            <div class="mb-4" style="float: right">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--/END CONTENT-->

    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <div th:replace="admin_fragments::back-to-top"></div>
</div>

<div th:replace="admin_fragments::script"></div>


<!--CKEDITOR-->
<script>
    ClassicEditor
        .create(document.querySelector('#description'))
        .catch(error => {
            console.error(error);
        });
</script>
<script>
    CKEDITOR.replace('description');
</script>

</body>

</html>