<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin_fragments::head"></head>
<style>
    .accordion-button:not(.collapsed) {
        background: transparent;
    }

     .switch {
         position: relative;
         display: inline-block;
         width: 60px;
         height: 34px;
     }

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

    .slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
    }

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    input:checked + .slider {
        background-color: #2196F3;
    }

    input:focus + .slider {
        box-shadow: 0 0 1px #2196F3;
    }

    input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
    }

    /* Rounded sliders */
    .slider.round {
        border-radius: 34px;
    }

    .slider.round:before {
        border-radius: 50%;
    }
</style>
<body>
<div class="container-fluid position-relative d-flex p-0">
    <!-- Sidebar Start -->
    <div th:replace="admin_fragments::sidebar"></div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav th:replace="admin_fragments::navbar"></nav>
        <!-- Navbar End -->


        <!--CONTENT HERE-->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4" style="display: flex; justify-content: center;">
                <div class="col-sm-12 col-xl-10">
                    <div class="bg-secondary rounded h-100 p-4">
                        <div class="mb-4">
                            <span style="font-weight: bold">EDIT MATCH</span>
                            <a class="mb-4" style="float: right;" th:href="@{/admin/matches}">
                                <i class="fas fa-arrow-left"></i>
                            </a>
                        </div>
                        <form th:action="@{/admin/match/update/{id} (id = ${matchDTO.id})}" th:object="${matchDTO}"
                              method="post" enctype="multipart/form-data">
                            <input type="hidden" id="match_id" th:value="*{id}">
                            <div class="row mb-3">
                                <label class="col-sm-3 mb-3 col-form-label">Match Time</label>
                                <div class="col-sm-9">
                                    <input type="datetime-local" class="form-control" th:attr="value=${matchDTO.match_time}" name="match_time">
                                </div>
                            </div>

                            <div class="row mb-3">
                                <label class="col-sm-3 mb-3 col-form-label">Home Team - Away Team</label>
                                <div class="col-sm-3 mb-3">
                                    <select class="form-select" name="home_team_id" th:field="*{home_team_id}" aria-label="Team" required>
                                        <option value="">-- choose option --</option>
                                        <option th:selected="${home_team_id == team.id}" th:each="team : ${teams}"
                                                th:value="${team.id}" th:text="${team.name}"></option>
                                    </select>
                                </div>
                                <div class="col-sm-1" style="display: flex; align-items: center; justify-content: center">
                                    VS
                                </div>
                                <div class="col-sm-3 mb-3">
                                    <select class="form-select" name="away_team_id" th:field="*{away_team_id}" aria-label="Team" required>
                                        <option value="">-- choose option --</option>
                                        <option th:selected="${away_team_id == team.id}" th:each="team : ${teams}"
                                                th:value="${team.id}" th:text="${team.name}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-3 mb-3 col-form-label">Stadium Takes Place</label>
                                <div class="col-sm-9">
                                    <select class="form-select" th:field="*{stadium_id}" aria-label="Stadium" required>
                                        <option value="">-- choose option --</option>
                                        <option th:selected="${stadium_id == stadium.id}" th:each="stadium : ${stadiums}"
                                                th:value="${stadium.id}" th:text="${stadium.name}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-3 col-form-label">Status</label>
                                <div class="col-sm-9">
                                    <select class="form-select" id="status" name="status" aria-label="status"
                                            th:field="*{status}" required>
                                        <option value="" selected>-- Choose option --</option>
                                        <option value="0" th:selected="${matchDTO.status == 0}">Inactive</option>
                                        <option value="1" th:selected="${matchDTO.status == 1}">Active</option>
                                    </select>
                                </div>
                            </div>

                            <div class="mb-4" style="float: right">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid pt-4 px-4" th:if="${notLive == 1}">
            <div class="row g-4" style="display: flex; justify-content: center;">
                <div class="col-sm-12 col-xl-10">
                    <div class="bg-secondary rounded h-100 p-4">
                        <div class="mb-4 text-center">
                            <span style="font-weight: bold; text-transform: uppercase">Live match updates</span>
                        </div>
                        <div class="row">
                            <div class="col-sm-5" style="text-align: center">
                                <img style="width: 100px; max-height: 150px" th:src="@{${matchDTO.home_team.logo_img}}">
                            </div>
                            <div class="col-sm-2" style="display: flex; align-items: center; justify-content: center; font-weight: bold; font-size: 30px;">
                                VS
                            </div>
                            <div class="col-sm-5" style="text-align: center">
                                <img style="width: 100px; max-height: 150px" th:src="@{${matchDTO.away_team.logo_img}}">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-sm-5 text-center" style="font-size: 46px" th:text="${homeTeamScore}"></div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-5 text-center" style="font-size: 46px" th:text="${awayTeamScore}"></div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-sm-5">
                                <div class="accordion" id="accordion-home-player">
                                    <div class="accordion-item" th:each="player, playerStat : ${homePlayers}">
                                        <h2 class="accordion-header" th:id="'headingHome' + ${playerStat.index}">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" th:attr="data-bs-target='#collapseHome' + ${playerStat.index}" th:aria-controls="'collapseHome' + ${playerStat.index}" th:text="${player.name}"></button>
                                        </h2>
                                        <div th:id="'collapseHome' + ${playerStat.index}" class="accordion-collapse collapse" th:aria-labelledby="'headingHome' + ${playerStat.index}" data-bs-parent="#accordion-home-player">
                                            <div class="accordion-body">
                                                <div class="mb-2">
                                                    <div th:class="'row mb-2 row-event-player row-event-' + ${events.id}" th:each="events : ${homePlayerEvents[playerStat.index]}" th:data-id="${events.id}">
                                                        <div style="width: 150px">
                                                            Time: <span th:text="${events.time}"></span>
                                                        </div>
                                                        <div style="width: 190px;">
                                                            Type:
                                                            <span th:if="${events.type == 1}">Goal</span>
                                                            <span th:if="${events.type == 2}">Yellow card</span>
                                                            <span th:if="${events.type == 3}">Red card</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <button type="button" class="btn btn-primary btn-add-event" data-bs-toggle="modal" data-bs-target="#exampleModal" th:data-team-id="${player.team_id}" th:data-player-id="${player.id}">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-2"></div>
                            <div class="col-sm-5">
                                <div class="accordion" id="accordion-away-player">
                                    <div class="accordion-item" th:each="player, playerStat : ${awayPlayers}">
                                        <h2 class="accordion-header" th:id="'headingAway' + ${playerStat.index}">
                                            <button class="accordion-button" type="button" data-bs-toggle="collapse" th:attr="data-bs-target='#collapseAway' + ${playerStat.index}" th:aria-controls="'collapseAway' + ${playerStat.index}" th:text="${player.name}"></button>
                                        </h2>
                                        <div th:id="'collapseAway' + ${playerStat.index}" class="accordion-collapse collapse" th:aria-labelledby="'headingAway' + ${playerStat.index}" data-bs-parent="#accordion-away-player">
                                            <div class="accordion-body">
                                                <div class="mb-2">
                                                    <div th:class="'row mb-2 row-event-player row-event-' + ${events.id}" th:each="events : ${awayPlayerEvents[playerStat.index]}" th:data-id="${events.id}">
                                                        <div style="width: 150px">
                                                            Time: <span th:text="${events.time}"></span>
                                                        </div>
                                                        <div style="width: 230px;">
                                                            Type:
                                                            <span th:if="${events.type == 1}">Goal</span>
                                                            <span th:if="${events.type == 2}">Yellow card</span>
                                                            <span th:if="${events.type == 3}">Red card</span>
                                                        </div>
                                                    </div>
                                                </div>

                                                <button type="button" class="btn btn-primary btn-add-event" data-bs-toggle="modal" data-bs-target="#exampleModal" th:data-team-id="${player.team_id}" th:data-player-id="${player.id}">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form th:action="@{/admin/match/detail/update/{id} (id = ${matchDetailDTO.id})}" th:object="${matchDetailDTO}"
                              method="post" enctype="multipart/form-data">
                            <div class="row mt-4">
                                <input th:field="*{match_id}" th:value="${matchDTO.id}" type="hidden" name="match_id">
                                <div class="col-sm-3 mb-3">
                                    <div class="form-group">
                                        <label for="detail-shot" class="mb-1">Shot</label>
                                        <input th:field="*{shot}" type="text" name="shot" class="form-control" id="detail-shot">
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-3">
                                    <div class="form-group">
                                        <label for="detail-shotOnTarget" class="mb-1">Shot on target</label>
                                        <input th:field="*{shotOnTarget}" type="text" name="shotOnTarget" class="form-control" id="detail-shotOnTarget">
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-3">
                                    <div class="form-group">
                                        <label for="detail-possession" class="mb-1">Possession</label>
                                        <input th:field="*{possession}" type="text" name="possession" class="form-control" id="detail-possession">
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-3">
                                    <div class="form-group">
                                        <label for="detail-foul" class="mb-1">Foul</label>
                                        <input th:field="*{foul}" type="text" name="foul" class="form-control" id="detail-foul">
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-3">
                                    <div class="form-group">
                                        <label for="detail-passes" class="mb-1">Passes</label>
                                        <input th:field="*{passes}" type="text" name="passes" class="form-control" id="detail-passes">
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-3">
                                    <div class="form-group">
                                        <label for="detail-passAccuracy" class="mb-1">Pass accuracy</label>
                                        <input th:field="*{passAccuracy}" type="text" name="passAccuracy" class="form-control" id="detail-passAccuracy">
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-3">
                                    <div class="form-group">
                                        <label for="detail-foul" class="mb-1">OffSide</label>
                                        <input th:field="*{offSide}" type="text" name="offSide" class="form-control" id="detail-offSide">
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-3">
                                    <div class="form-group">
                                        <label for="detail-corner" class="mb-1">Corner</label>
                                        <input th:field="*{corner}" type="text" name="corner" class="form-control" id="detail-corner">
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-3">
                                    <div class="form-group">
                                        <label for="detail-corner" class="mb-1">Yellow card</label>
                                        <input th:field="*{yellow_card}" type="text" name="yellow_card" class="form-control" id="detail-yellow_card">
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-3">
                                    <div class="form-group">
                                        <label for="detail-corner" class="mb-1">Red card</label>
                                        <input th:field="*{red_card}" type="text" name="red_card" class="form-control" id="detail-red_card">
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-3">
                                    <div class="form-group">
                                        <label for="detail-foul" class="mb-1">Match end</label>
                                        <br>
                                        <input type="hidden" th:field="*{match_end}" name="match_end">
                                        <label class="switch">
                                            <input type="checkbox" class="match-end-check" th:checked="${matchDetailDTO.match_end == 1}">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-3 mb-3">
                                    <div class="form-group">
                                        <label for="detail-foul" class="mb-1">Update team ranking</label>
                                        <br>
                                        <input type="hidden" name="update_team_ranking">
                                        <label class="switch">
                                            <input type="checkbox" class="update_team_ranking-check">
                                            <span class="slider round"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="mb-4" style="float: right">
                                <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <form id="formEvent" th:action="@{/admin/match/event/save}" method="post" th:object="${teamEvent}">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <input type="hidden" class="event-player" name="player_id" th:field="*{player_id}">
                            <input type="hidden" class="event-match" name="match_id" th:field="*{match_id}">
                            <input type="hidden" class="event-team" name="team_id" th:field="*{team_id}">
                            <div class="mb-3">
                                <label for="time" class="form-label">Time</label>
                                <input type="text" class="form-control" id="time" name="time" th:field="*{time}">
                            </div>
                            <div class="mb-3">
                                <label for="type" class="form-label">Type</label>
                                <select class="form-select" name="type" id="type" th:field="*{type}" required>
                                    <option value="">-- Choose option --</option>
                                    <option value="1">Goal</option>
                                    <option value="2">Yellow card</option>
                                    <option value="3">Red card</option>
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--/END CONTENT-->

    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <div th:replace="admin_fragments::back-to-top"></div>
</div>

<div th:replace="admin_fragments::script"></div>

<script>
    $('.btn-add-event').on('click', function () {
        var playerId = $(this).attr('data-player-id');
        $('.event-player').val(playerId);
        var matchId = $('#match_id').val();
        $('.event-match').val(matchId);
        var teamId = $(this).attr('data-team-id');
        $('.event-team').val(teamId);
    })

    $('.row-event-player').on('click', function () {
        var row = $(this);
        var id = row.attr('data-id');
        Swal.fire({
            title: 'Are you sure you want to delete this item?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                $.ajax({
                    type: 'POST',
                    url: '/admin/match/event/delete/'+ id,
                    success: function () {
                        location.reload();
                    }
                });
            }
        })
    })
</script>

<script>
    $(document).ready(function() {
        $(".match-end-check").change(function() {
            if ($(this).is(":checked")) {
                $("[name='match_end']").val(1);
            } else {
                $("[name='match_end']").val(0);
            }
        });
        $("[name='update_team_ranking']").val(0);
        $(".update_team_ranking-check").change(function() {
            if ($(this).is(":checked")) {
                $("[name='update_team_ranking']").val(1);
            } else {
                $("[name='update_team_ranking']").val(0);
            }
        });
    });
</script>

</body>

</html>