<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin_fragments::head"></head>

<body>
<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <!--        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">-->
    <!--            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">-->
    <!--                <span class="sr-only">Loading...</span>-->
    <!--            </div>-->
    <!--        </div>-->
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div th:replace="admin_fragments::sidebar"></div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav th:replace="admin_fragments::navbar"></nav>
        <!-- Navbar End -->

        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12">
                    <div class="bg-secondary rounded h-100 p-4">
                        <form th:action="@{/admin/team/create/save}" method="post" enctype="multipart/form-data">
                            <h6 class="mb-4">Create Team</h6>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="name" placeholder="Team name" name="name">
                                <label for="name">Name</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="coach" placeholder="Coach name" name="coach">
                                <label for="coach">Coach</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="stadium" placeholder="Stadium" name="stadium">
                                <label for="stadium">Stadium</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="valuation" placeholder="Valuation" name="valuation">
                                <label for="valuation">Valuation</label>
                            </div>

                            <div class="form-floating mb-3">
                                <select class="form-select" id="status" name="status" aria-label="Floating label select example">
                                    <option value="1" selected>Active</option>
                                    <option value="2">Inactive</option>
                                </select>
                                <label for="status">Status</label>
                            </div>

                            <div class="col-md-4">
                                <div class="form-floating mb-3">
                                    <input class="form-control bg-dark" style="padding-top: 1rem;" type="file" id="logo" name="logo">
                                </div>
                            </div>

                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/END CONTENT-->
</div>
<!-- Content End -->


<!-- Back to Top -->
<div th:replace="admin_fragments::back-to-top"></div>
</div>

<div th:replace="admin_fragments::script"></div>
</body>

</html>
