<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin_fragments::head"></head>

<body>
<div class="container-fluid position-relative d-flex p-0">
    <!-- Spinner Start -->
    <!--        <div id="spinner" class="show bg-dark position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">-->
    <!--            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">-->
    <!--                <span class="sr-only">Loading...</span>-->
    <!--            </div>-->
    <!--        </div>-->
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div th:replace="admin_fragments::sidebar"></div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav th:replace="admin_fragments::navbar"></nav>
        <!-- Navbar End -->

        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-area fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Today Revenue</p>
                            <h6 class="mb-0" th:text="'$' + ${totalAmountOfToday}"></h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-bar fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Revenue</p>
                            <h6 class="mb-0" th:text="'$' + ${totalAmount}"></h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-line fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Today Order</p>
                            <h6 class="mb-0" th:text="${orderTodayCount}"></h6>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-3">
                    <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                        <i class="fa fa-chart-pie fa-3x text-primary"></i>
                        <div class="ms-3">
                            <p class="mb-2">Number of orders</p>
                            <h6 class="mb-0" th:text="${totalOrderCount}"></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-secondary text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h6 class="mb-0">Order Revenue</h6>
                        </div>
                        <canvas id="worldwide-sales"></canvas>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-6">
                    <div class="bg-secondary text-center rounded p-4">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h6 class="mb-0">Number of orders</h6>
                        </div>
                        <canvas id="salse-revenue"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Start -->
        <div th:replace="admin_fragments::footer"></div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <div th:replace="admin_fragments::back-to-top"></div>
</div>

<div th:replace="admin_fragments::script"></div>

<script>
    var ctx1 = $("#worldwide-sales").get(0).getContext("2d");
    var myChart1 = new Chart(ctx1, {
        type: "bar",
        data: {
            labels: [],
            datasets: [{
                label: "Order",
                data: [],
                backgroundColor: "rgba(235, 22, 22, .7)"
            }]
        },
        options: {
            responsive: true
        }
    });
    $.ajax({
        type: 'GET',
        url: '/api/orders/total-amount-last7days-by-day',
        success: function (res) {
            const labels = res.map(item => {
                const isoDate = new Date(item[0]);
                const day = isoDate.getDate();
                const month = isoDate.getMonth() + 1;
                return day + '/' + month;
            });
            const totalAmounts = res.map(item => item[1]);
            myChart1.data.labels = labels;
            myChart1.data.datasets[0].data = totalAmounts;
            myChart1.update();
        }
    });

    var ctx2 = $("#salse-revenue").get(0).getContext("2d");
    var myChart2 = new Chart(ctx2, {
        type: "line",
        data: {
            labels: [],
            datasets: [{
                label: "Order",
                data: [],
                backgroundColor: "rgba(235, 22, 22, .7)",
                fill: true
            }]
        },
        options: {
            responsive: true
        }
    });
    $.ajax({
        type: 'GET',
        url: '/api/orders/count-last7days-by-day',
        success: function (data) {
            const labels = data.map(item => {
                const isoDate = new Date(item[0]);
                const day = isoDate.getDate();
                const month = isoDate.getMonth() + 1;
                return day + '/' + month;
            });
            const orderCounts = data.map(item => item[1]);
            myChart2.data.labels = labels;
            myChart2.data.datasets[0].data = orderCounts;
            myChart2.update();
        }
    });
</script>
</body>

</html>