<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin_fragments::head"></head>

<style>
    .table-responsive tbody tr td {
        vertical-align: middle;
    }
</style>

<body>
<div class="container-fluid position-relative d-flex p-0">
    <!-- Sidebar Start -->
    <div th:replace="admin_fragments::sidebar"></div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <nav th:replace="admin_fragments::navbar"></nav>
        <!-- Navbar End -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="row g-4 align-items-center">
                    <div class="col-6">
                        <div class="input-group">
                            <form th:action="@{/admin/feedbacks}" method="get">
                                <label><input placeholder="Name" class="form-control" type="text" name="name" th:value="${name}" /></label>
                                <label><input placeholder="Email" class="form-control" type="text" name="email" th:value="${email}" /></label>
                                <button class="btn btn-primary" type="submit">Search</button>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="col-12">
                    <div class="bg-secondary rounded h-100 p-4">
                        <h6 class="mb-4">LIST FEEDBACK</h6>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Email</th>
                                    <th scope="col">Subject</th>
                                    <th scope="col">Comment</th>
                                </tr>
                                </thead>
                                <tbody th:if="${feedbacks != null and #lists.size(feedbacks) > 0}">
                                <tr th:each="feedback, iterStat : ${feedbacks}">
                                    <td th:text="${iterStat.index + 1}"></td>
                                    <td th:text="${feedback.name}"></td>
                                    <td th:text="${feedback.email}"></td>
                                    <td th:text="${feedback.subject}"></td>
                                    <td th:text="${feedback.content}"></td>
                                    </td>
                                </tr>
                                </tbody>
                                <tbody th:if="${feedbacks == null or #lists.size(feedbacks) == 0}">
                                <tr>
                                    <td colspan="8" style="text-align: center; padding: 10px 0px;">No data</td>
                                </tr>
                                </tbody>
                            </table>

                            <div th:if="${totalPages > 1}">
                                <div class="row col-sm-12">
                                    <div class="col-sm-2">
                                        Total Rows: [[${totalItems}]]
                                    </div>
                                    <!--danh sach cac trang-->
                                    <div class="col-sm-10">
                                      <span th:each="i: ${#numbers.sequence(1, totalPages)}">
<!--                                          <a th:if="${currentPage != i}" th:href="@{'/admin/stadium/' + ${i}}" style="color: #666666">[[${i}]]</a>-->
                                          <a th:if="${currentPage != i}" th:href="@{'/admin/feedbacks/' + ${i}(name=${name}, email=${email})}" style="color: #666666">[[${i}]]</a>

                                          <span th:unless="${currentPage != i}" style="color: #ca0f33">[[${i}]]</span>  &nbsp;
                                      </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- Back to Top -->
<div th:replace="admin_fragments::back-to-top"></div>
</div>

<div th:replace="admin_fragments::script"></div>
</body>

</html>
