<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="customer_fragments::head-fragment"></head>
<style>
    .team-vs:nth-child(n+2) {
        margin-top: 70px;
    }
</style>
<body>
<div class="site-wrap">
    <div th:fragment="top-fragment">
        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>

        <header class="site-navbar py-4" role="banner">
            <div class="container">
                <div class="d-flex align-items-center">
                    <div class="site-logo">
                        <a th:href="@{/home}">
                            <img th:src="@{/user/images/logo.png}" alt="Logo">
                        </a>
                    </div>
                    <div class="ml-auto">
                        <nav class="site-navigation position-relative text-right" role="navigation">
                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                                <li th:classappend="${#httpServletRequest.getRequestURI().startsWith('/home') || #httpServletRequest.getRequestURI().startsWith('/') ? 'active' : ''}">
                                    <a th:href="@{/home}" class="nav-link">Home</a>
                                </li>
                                <li th:classappend="${#httpServletRequest.getRequestURI().startsWith('/matches') ? 'active' : ''}">
                                    <a th:href="@{/matches}" class="nav-link">Matches</a>
                                </li>
                                <li th:classappend="${#httpServletRequest.getRequestURI().startsWith('/teams') ? 'active' : ''}">
                                    <a th:href="@{/teams}" class="nav-link">Teams</a>
                                </li>
                                <li th:classappend="${#httpServletRequest.getRequestURI().startsWith('/news') ? 'active' : ''}">
                                    <a th:href="@{/news}" class="nav-link">News</a>
                                </li>
                                <li th:classappend="${#httpServletRequest.getRequestURI().startsWith('/feedback') ? 'active' : ''}">
                                    <a th:href="@{/feedback}" class="nav-link">Feedback</a>
                                </li>
                                <li th:classappend="${#httpServletRequest.getRequestURI().startsWith('/list_tickets') ? 'active' : ''}">
                                    <a th:href="@{/list_tickets}" class="nav-link">Book Tickets</a>
                                </li>

                                <!--login/user-->
                                <li th:if="${session.loggedInUser == null }">
                                    <a th:href="@{/login}" class="btn-primary py-2 px-3">Login
                                        <i class="icon-user"
                                           aria-hidden="true">
                                        </i>
                                    </a>
                                </li>
                                <li th:if="${session.loggedInUser != null}">
                                    <div class="nav-item dropdown">
                                        <a href="#" class="nav-link dropdown-toggle" id="userDropdown" role="button"
                                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img class="rounded-circle me-lg-2"
                                                 th:src="@{/admin_static/img/user.jpg}"
                                                 alt="" style="width: 40px; height: 40px;">
                                            <span class="ml-1 d-lg-inline-flex text-white"
                                                  th:if="${session.loggedInUser != null}"
                                                  th:text="${session.loggedInUser.fullName}"></span>
                                            <i class="bi bi-caret-down color-red icon-large"></i>
                                        </a>
                                        <div class="dropdown-menu" aria-labelledby="userDropdown">
                                            <a class="dropdown-item dropdown-fix color-grey"
                                               th:href="@{/account/info/{id} (id=${session.loggedInUser.id})}">
                                                <i class="icon-user mr-2 color-red"></i> Info Account
                                            </a>
                                            <a class="dropdown-item dropdown-fix color-grey" th:href="@{/logged/myticket}">
                                                <i class="icon-ticket mr-2 color-red"></i> My ticket
                                            </a>
                                            <div class="dropdown-divider"></div>
                                            <a class="dropdown-item dropdown-fix2 color-red" th:href="@{/logout}">
                                                <i class="icon-arrow-right mr-2 color-red"></i> Logout
                                            </a>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <a th:href="@{/shopping_cart}" style="font-size: large">
                                        <i class="icon-shopping-cart" aria-hidden="true"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>

                        <a href="#"
                           class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
                                class="icon-menu h3 text-white"></span></a>
                    </div>
                </div>
            </div>
        </header>

        <div class="hero overlay" style="background-image: url('/user/images/bg_3.jpg');">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-5 ml-auto">
                        <h1 class="text-white" th:text="${overlay_title}"></h1>
                        <p th:text="${description}"></p>
                        <div id="date-countdown"></div>
                        <p>
                            <a th:href="@{/list_tickets}" class="btn btn-primary py-3 px-4 mr-3">Book Tickets Online</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--/CONTENT HERE/-->
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div th:if="${nextMatchesOrLiveMatches} and ${#lists.size(nextMatchesOrLiveMatches) > 0}"
                     th:each="match : ${nextMatchesOrLiveMatches}" th:class="'d-flex team-vs match-div-' + ${match.id}">
                    <span th:class="'score live-score-' + ${match.id}"></span>
                    <div class="team-1 w-50">
                        <div class="team-details w-100 text-center">
                            <input type="hidden" class="live-match-id" th:value="${match.id}">
                            <img th:src="@{${match.home_team.logo_img}}" alt="Image" class="img-fluid"
                                 style="width: 70px; height: 75px">
                            <h3 class="mt-2" th:text="${match.home_team.name}"></h3>
                            <input type="hidden" class="home-team-id" th:value="${match.home_team.id}">
                            <ul th:class="'list-unstyled home-team-event-' + ${match.id}">
                            </ul>
                        </div>
                    </div>
                    <div class="team-2 w-50">
                        <div class="team-details w-100 text-center">
                            <img th:src="@{${match.away_team.logo_img}}" alt="Image" class="img-fluid"
                                 style="width: 70px; height: 75px">
                            <h3 class="mt-2" th:text="${match.away_team.name}"></h3>
                            <input type="hidden" class="away-team-id" th:value="${match.away_team.id}">
                            <ul th:class="'list-unstyled away-team-event-' + ${match.id}">
                            </ul>
                            <div class="match-detail" onclick="openMatchPopup()" th:if="${match.type_match} == 0">
                                <i class="icon-info_outline mr-1"></i> Match details (click here)
                            </div>
                        </div>
                    </div>
                    <div class="live-indicator" id="live-indicator" th:if="${match.type_match} == 1">
                        <div class="live-circle"></div>
                        <p class="live-text">Live</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="latest-news">
        <div class="container">
            <div class="row">
                <div class="col-12 title-section">
                    <h2 class="heading">Latest News</h2>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-md-4" th:each="news : ${latestNews}">
                    <div class="post-entry">
                        <img th:src="@{${news.new_img}}" alt="Image" class="img-fluid"
                             style="width: auto; height: 300px; max-width: 100%">
                        <div class="caption">
                            <div class="caption-inner">
                                <a th:href="@{'/news/detail/' + ${news.id}}">
                                    <div class="mb-3">
                                        <h3 th:if="${#strings.length(news.title) < 60}" th:text="${news.title}"></h3>
                                        <h3 th:if="${#strings.length(news.title) >= 60}"
                                            th:text="${#strings.substring(news.title, 0, 60)} + '...'"></h3>
                                    </div>
                                </a>
                                <div class="author d-flex align-items-center">
                                    <div class="img mb-2 mr-3">
                                        <a th:href="@{'/news/detail/' + ${news.id}}">
                                            <img th:src="@{/user/images/author_avt.png}" alt=""
                                                 style="width: 40px; height: 40px">
                                        </a>
                                    </div>
                                    <div class="text">
                                        <h4>Author</h4>
                                        <span th:text="${#dates.format(news.created_at, 'MMM dd, yyyy')} + ' &bullet; ' + 'sport'"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="widget-next-match" th:if="${findNextMatch != null}">
                        <div class="widget-title">
                            <h3>Next Match</h3>
                        </div>
                        <div class="widget-body mb-3">
                            <div class="widget-vs">
                                <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                                    <div class="team-1 text-center" style="width: 8rem; height: 8rem">
                                        <img th:src="${findNextMatch[0].home_team.logo_img}" alt="Image"
                                             style="width: 5rem; height: 5rem;">
                                        <h3 class="mt-3" th:text="${findNextMatch[0].home_team.name}"></h3>
                                    </div>
                                    <div>
                                        <span class="vs ml-3 mr-3"><span>VS</span></span>
                                    </div>
                                    <div class="team-2 text-center" style="width: 8rem; height: 8rem">
                                        <img th:src="${findNextMatch[0].away_team.logo_img}" alt="Image"
                                             style="width: 5rem; height: 5rem;">
                                        <h3 class="mt-3" th:text="${findNextMatch[0].away_team.name}"></h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center widget-vs-contents mb-4">
                            <h4>Premier League <span
                                    th:text="${#dates.format(findNextMatch[0].created_at, 'yyyy')}"></span></h4>
                            <p class="mb-5 mt-3">
                                <i class="icon-calendar mr-1 color-red"></i>
                                <span th:text="${#temporals.format(findNextMatch[0].match_time, 'MMM dd, yyyy')}"></span>
                                <br>
                                <i class="icon-timer mr-1 color-red"></i>
                                <span th:text="${#temporals.format(findNextMatch[0].match_time, 'HH:mm') + ' (GMT+0)'}"> </span>
                                <br>
                                <i class="icon-add_location mr-1 color-red"></i>
                                <span th:text="${findNextMatch[0].stadium_id.name}"></span>
                            </p>
                            <div id="date-countdown2" class="pb-1"></div>
                            <input type="hidden" name="countdown-next-match" th:value="${findNextMatch[0].match_time}">
                        </div>
                    </div>
                    <div class="widget-next-match" th:if="${findNextMatch == null}">
                        <div class="widget-title">
                            <h3>Next Match</h3>
                        </div>
                        <p style="font-size: 48px; padding: 145px;">Not Found</p>
                    </div>
                </div>

                <!--bảng xếp hạng-->
                <div class="col-lg-6">
                    <div class="widget-next-match">
                        <table class="table custom-table">
                            <thead>
                            <tr>
                                <th>P</th>
                                <th>Team</th>
                                <th>W</th>
                                <th>D</th>
                                <th>L</th>
                                <th>PTS</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="teamConclusionDTO, iterStat : ${teamConclusionDTOS}">
                                <td th:text="${iterStat.index + 1}">1</td>
                                <td>
                                    <a th:href="@{/teams/detail/{teamId}(teamId=${teamConclusionDTO.team.id})}" class="text-white">
                                        <u th:text="${teamConclusionDTO.team.name}">Football League</u>
                                    </a>
                                </td>
                                <td th:text="${teamConclusionDTO.win}">22</td>
                                <td th:text="${teamConclusionDTO.draw}">3</td>
                                <td th:text="${teamConclusionDTO.lose}">2</td>
                                <td th:text="${teamConclusionDTO.point}">140</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-12 title-section">
                    <h2 class="heading">Upcoming Match</h2>
                </div>
                <div class="col-lg-4 mb-4" th:each="upComing6Matches, iterStat : ${findNextMatch}"
                     th:if="${iterStat.index >= 0 and iterStat.index <= 5}">
                    <div class="bg-light p-4 rounded">
                        <div class="">
                            <div class="widget-vs">
                                <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                                    <div class="team-1 text-center" style="max-width: 110px">
                                        <img th:src="@{${upComing6Matches.home_team.logo_img}}" alt="Image"
                                             style="height: 80px; width: 80px">
                                        <h3 class="mt-3" th:text="${upComing6Matches.home_team.name}"
                                            style="height: 60px;"></h3>
                                    </div>
                                    <div class="mr-3 ml-3">
                                        <span class="vs"><span>VS</span></span>
                                    </div>
                                    <div class="team-2 text-center" style="max-width: 110px">
                                        <img th:src="@{${upComing6Matches.away_team.logo_img}}" alt="Image"
                                             style="height: 80px; width: 80px">
                                        <h3 class="mt-3" th:text="${upComing6Matches.away_team.name}"
                                            style="height: 60px;"></h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-center widget-vs-contents mb-4">
                            <p class="mb-3 mt-4">
                                <span class="d-block"
                                      th:text="${#temporals.format(upComing6Matches.match_time, 'MMM dd, yyyy')}"></span>
                                <span class="d-block"
                                      th:text="${#temporals.format(upComing6Matches.match_time, 'HH:mm') + ' (GMT+0)'}"></span>
                                <strong class="text-primary" th:text="${upComing6Matches.stadium_id.name}"></strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section" style="padding-bottom: 200px">
        <div class="container">
            <div class="row">
                <div class="col-6 title-section">
                    <h2 class="heading">Videos / Highlight</h2>
                </div>
                <div class="col-6 text-right">
                    <div class="custom-nav">
                        <a href="#" class="js-custom-prev-v2"><span class="icon-keyboard_arrow_left"></span></a>
                        <span></span>
                        <a href="#" class="js-custom-next-v2"><span class="icon-keyboard_arrow_right"></span></a>
                    </div>
                </div>
            </div>


            <div class="owl-4-slider owl-carousel">
                <div class="item" th:each="video : ${lastedVideoHighlights}">
                    <div class="video-media">
                        <img th:src="@{${video.image}}" alt="Image" class="img-fluid">  <!--ảnh-->
                        <a th:href="${video.video_link}" class="d-flex play-button align-items-center" data-fancybox> <!--videos-->
                                <span class="icon mr-3">
                                  <span class="icon-play"></span>
                                </span>
                            <div class="caption">
                                <h3 class="m-0" th:text="${video.title}"></h3> <!--title-->
                            </div>
                        </a>
                    </div>
                </div>
                <!--<div class="item">
                    <div class="video-media">
                        <img th:src="@{/user/images/videos/m2.jpg}" alt="Image" class="img-fluid">
                        <a href="https://www.youtube.com/watch?v=84rTYYByRbk&list=PLiaWrX4zmrTnSMsGla0nGP9EViv-7fr_j&index=2" class="d-flex play-button align-items-center"
                           data-fancybox>
                                <span class="icon mr-3">
                                  <span class="icon-play"></span>
                                </span>
                            <div class="caption">
                                <h3 class="m-0">ASTON VILLA - WEST HAM</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="video-media">
                        <img th:src="@{/user/images/videos/m3.jpg}" alt="Image" class="img-fluid">
                        <a href="https://www.youtube.com/watch?v=jOOmqwWWOSI&list=PLiaWrX4zmrTnSMsGla0nGP9EViv-7fr_j&index=3" class="d-flex play-button align-items-center"
                           data-fancybox>
                                <span class="icon mr-3">
                                  <span class="icon-play"></span>
                                </span>
                            <div class="caption">
                                <h3 class="m-0">SHEFFIELD UTD - MAN UNITED</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="video-media">
                        <img th:src="@{/user/images/videos/m4.jpg}" alt="Image" class="img-fluid">
                        <a href="https://www.youtube.com/watch?v=ifVYNyp2q94&list=PLiaWrX4zmrTnSMsGla0nGP9EViv-7fr_j&index=4" class="d-flex play-button align-items-center"
                           data-fancybox>
                            <span class="icon mr-3">
                              <span class="icon-play"></span>
                            </span>
                            <div class="caption">
                                <h3 class="m-0">CHELSEA - ARSENAL</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="video-media">
                        <img th:src="@{/user/images/videos/m5.jpg}" alt="Image" class="img-fluid">
                        <a href="https://www.youtube.com/watch?v=I_1feJoXWrU&list=PLiaWrX4zmrTnSMsGla0nGP9EViv-7fr_j&index=5" class="d-flex play-button align-items-center"
                           data-fancybox>
                            <span class="icon mr-3">
                              <span class="icon-play"></span>
                            </span>
                            <div class="caption">
                                <h3 class="m-0">NOTT'M FOREST - LUTON TOWN</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="video-media">
                        <img th:src="@{/user/images/videos/m6.jpg}" alt="Image" class="img-fluid">
                        <a href="https://www.youtube.com/watch?v=NQIoQ8NJSi8&list=PLiaWrX4zmrTnSMsGla0nGP9EViv-7fr_j&index=6" class="d-flex play-button align-items-center"
                           data-fancybox>
                            <span class="icon mr-3">
                              <span class="icon-play"></span>
                            </span>
                            <div class="caption">
                                <h3 class="m-0">NEWCASTLE - CRYSTAL PALACE</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="video-media">
                        <img th:src="@{/user/images/videos/m7.jpg}" alt="Image" class="img-fluid">
                        <a href="https://www.youtube.com/watch?v=7g4sunoZPZQ&list=PLiaWrX4zmrTnSMsGla0nGP9EViv-7fr_j&index=7" class="d-flex play-button align-items-center"
                           data-fancybox>
                            <span class="icon mr-3">
                              <span class="icon-play"></span>
                            </span>
                            <div class="caption">
                                <h3 class="m-0">BOURNEMOUTH - WOLVES</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="video-media">
                        <img th:src="@{/user/images/videos/m8.jpg}" alt="Image" class="img-fluid">
                        <a href="https://www.youtube.com/watch?v=J7irZvPmdL8&list=PLiaWrX4zmrTnSMsGla0nGP9EViv-7fr_j&index=8" class="d-flex play-button align-items-center"
                           data-fancybox>
                            <span class="icon mr-3">
                              <span class="icon-play"></span>
                            </span>
                            <div class="caption">
                                <h3 class="m-0">MAN CITY - BRIGHTON</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="video-media">
                        <img th:src="@{/user/images/videos/m9.jpg}" alt="Image" class="img-fluid">
                        <a href="https://www.youtube.com/watch?v=jhYB7F02w3E&list=PLiaWrX4zmrTnSMsGla0nGP9EViv-7fr_j&index=10" class="d-flex play-button align-items-center"
                           data-fancybox>
                            <span class="icon mr-3">
                              <span class="icon-play"></span>
                            </span>
                            <div class="caption">
                                <h3 class="m-0">LIVERPOOL - EVERTON</h3>
                            </div>
                        </a>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
    <!--/END CONTENT HERE/-->

    <div th:replace="customer_fragments::bot-fragment"></div>
</div>

<div th:replace="customer_fragments::script-fragment"></div>

<!--pop-up match details-->
<div id="matchPopup" class="popup" onclick="closeMatchPopup()">
    <div class="popup-content">
        <span class="close" onclick="closeMatchPopup()">&times;</span>

        <div class="rounded">
            <div>
                <div class="widget-vs">
                    <p class="mb-4" style="color: #ee1e46">
                        <span style="font-weight: bold">Premier League • </span><span>Tue, Oct 24</span>
                    </p>
                    <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                        <div class="team-1 text-center" style="width: 150px">
                            <img src="https://res.cloudinary.com/dpbbb3imz/image/upload/v1696864355/cpstvpdp9phyduc9dcli.png" alt="Image" style="height: 80px; width: 80px">
                            <h3 class="mt-3" style="height: 40px;">Chelsea</h3>
                        </div>
                        <div class="mr-4 ml-4" style="font-size: 35px; color: #bdc1c6">
                            <span>5</span>
                            <span style="padding: 0 50px">-</span>
                            <span>3</span>
                        </div>
                        <div class="team-2 text-center" style="width: 150px">
                            <img src="https://res.cloudinary.com/dpbbb3imz/image/upload/v1696868850/nb4j9nxyycetrhzaoki8.png" alt="Image" style="height: 80px; width: 80px">
                            <h3 class="mt-3" style="height: 40px;">Manchester United</h3>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-around justify-content-between w-100 mt-2">
                        <div class="team-1 text-center mt-2" style="width: 160px">
                            <div class="mt-2" style="color: #bdc1c6;">
                                <p style="color: #bdc1c6;">Cristiano Ronaldo 5p'</p>
                                <p style="color: #bdc1c6;">Cristiano Ronaldo 5p'</p>
                                <p style="color: #bdc1c6;">Cristiano Ronaldo 5p'</p>
                                <p style="color: #bdc1c6;">Cristiano Ronaldo 5p'</p>
                                <p style="color: #bdc1c6;">Cristiano Ronaldo 5p'</p>
                            </div>
                        </div>
                        <div class="mr-5 ml-5">
                            <i class="icon-futbol-o mr-1" style="font-size: x-large"></i>
                        </div>
                        <div class="team-2 text-center mt-2" style="width: 160px">
                            <div>
                                <p style="color: #bdc1c6;">Cristiano Ronaldo 5p'</p>
                                <p style="color: #bdc1c6;">Cristiano Ronaldo 5p'</p>
                                <p style="color: #bdc1c6;">Cristiano Ronaldo 5p'</p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="d-flex align-items-center justify-content-around justify-content-between w-100 mt-2">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>
                                    <img src="https://res.cloudinary.com/dpbbb3imz/image/upload/v1696864355/cpstvpdp9phyduc9dcli.png" alt="Image" style="height: 30px; width: 30px">
                                </th>
                                <th class="text-matches-detail">TEAM STATS</th>
                                <th>
                                    <img src="https://res.cloudinary.com/dpbbb3imz/image/upload/v1696868850/nb4j9nxyycetrhzaoki8.png" alt="Image" style="height: 30px; width: 30px">
                                </th>
                            </tr>
                            <tr>
                                <td>
                                    15
                                </td>
                                <th class="text-matches-detail">Shots</th>
                                <td>
                                    10
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    5
                                </td>
                                <th class="text-matches-detail">Shots on target</th>
                                <td>
                                    3
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    56%
                                </td>
                                <th class="text-matches-detail">Possession</th>
                                <td>
                                    44%
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    593
                                </td>
                                <th class="text-matches-detail">Passes</th>
                                <td>
                                    463
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    87%
                                </td>
                                <th class="text-matches-detail">Pass accuracy</th>
                                <td>
                                    84%
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    10
                                </td>
                                <th class="text-matches-detail">Fouls</th>
                                <td>
                                    14
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    2
                                </td>
                                <th class="text-matches-detail">Yellow cards</th>
                                <td>
                                    0
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    0
                                </td>
                                <th class="text-matches-detail">Red cards</th>
                                <td>
                                    0
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    4
                                </td>
                                <th class="text-matches-detail">Offsides</th>
                                <td>
                                    6
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    3
                                </td>
                                <th class="text-matches-detail">Corners</th>
                                <td>
                                    5
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function openMatchPopup() {
        document.getElementById("matchPopup").style.display = "flex";
    }

    function closeMatchPopup() {
        document.getElementById("matchPopup").style.display = "none";
    }
</script>



<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.0/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>

<script>
    $(document).ready(function () {
        var socket = new SockJS('/ws-endpoint');
        var stompClient = Stomp.over(socket);

        stompClient.connect({}, function (frame) {
            stompClient.subscribe('/topic/score', function (scoreUpdate) {
                var scoreUpdateObj = JSON.parse(scoreUpdate.body);

                updateScoreOnPage(scoreUpdateObj.homeTeamScore, scoreUpdateObj.awayTeamScore, scoreUpdateObj.match_id);

                var homeTeamEventsUl = $('.home-team-event-' + scoreUpdateObj.match_id);
                homeTeamEventsUl.empty();
                $.each(scoreUpdateObj.homeTeamEventGoal, function (index, event) {
                    getPlayerById(event.player_id, function (player) {
                        var timeParts = event.time.split(':');
                        var minutes = timeParts[0];
                        var li = $('<li>').html('<i class="icon-futbol-o mr-1"></i> ' + player.name + ' (' + minutes + '\'' + ')');
                        homeTeamEventsUl.append(li);
                    });
                });

                var awayTeamEventsUl = $('.away-team-event-' + scoreUpdateObj.match_id);
                awayTeamEventsUl.empty();
                $.each(scoreUpdateObj.awayTeamEventGoal, function (index, event) {
                    getPlayerById(event.player_id, function (player) {
                        var timeParts = event.time.split(':');
                        var minutes = timeParts[0];
                        var li = $('<li>').html('<i class="icon-futbol-o mr-1"></i> ' + player.name + ' (' + minutes + '\'' + ')');
                        awayTeamEventsUl.append(li);
                    });
                });
            });
        });
    });


    function updateScoreOnPage(homeScore, awayScore, matchId) {
        $('.live-score-' + matchId).html(homeScore + '-' + awayScore);
    }

    function getPlayerById(id, callback) {
        $.ajax({
            type: 'POST',
            url: '/api/getPlayerById',
            contentType: 'application/json',
            data: JSON.stringify({id: id}),
            success: function (res) {
                callback(res);
            }
        });
    }
</script>

<script th:if="${nextMatchesOrLiveMatches} and ${#lists.size(nextMatchesOrLiveMatches) > 0}"
        th:each="match : ${nextMatchesOrLiveMatches}">
    var matchId = [[${match.id}]];
    var homeTeamId = [[${match.home_team_id.id}]];
    var awayTeamId = [[${match.away_team_id.id}]];

    var dataToSend = {
        homeTeamId: homeTeamId,
        awayTeamId: awayTeamId,
        matchId: matchId
    };

    if (dataToSend.matchId) {
        $.ajax({
            type: 'POST',
            url: '/api/getTeamEvent',
            contentType: 'application/json',
            data: JSON.stringify(dataToSend),
            success: function (res) {
                var homeTeamEventsUl = $('.home-team-event-' + res.matchId);
                homeTeamEventsUl.empty();
                $.each(res.homeTeamEventGoal, function (index, event) {
                    getPlayerById(event.player_id, function (player) {
                        var timeParts = event.time.split(':');
                        var minutes = timeParts[0];
                        var li = $('<li>').html('<i class="icon-futbol-o mr-1"></i> ' + player.name + ' (' + minutes + '\')');
                        homeTeamEventsUl.append(li);
                    });
                });

                var awayTeamEventsUl = $('.away-team-event-' + res.matchId);
                awayTeamEventsUl.empty();
                $.each(res.awayTeamEventGoal, function (index, event) {
                    getPlayerById(event.player_id, function (player) {
                        var timeParts = event.time.split(':');
                        var minutes = timeParts[0];
                        var li = $('<li>').html('<i class="icon-futbol-o mr-1"></i> ' + player.name + ' (' + minutes + '\')');
                        awayTeamEventsUl.append(li);
                    });
                });

                $('.live-score-' + res.matchId).html(res.homeTeamScore + '-' + res.awayTeamScore);
            }
        });
    }


    function getPlayerById(id, callback) {
        $.ajax({
            type: 'POST',
            url: '/api/getPlayerById',
            contentType: 'application/json',
            data: JSON.stringify({id: id}),
            success: function (res) {
                callback(res);
            }
        });
    }
</script>

<script>
    var siteCountDown = function () {
        let timeString = $('input[name=countdown-next-match]').val();
        let time = new Date(timeString);

        let formattedTime = time.getFullYear() + '/' +
            ('0' + (time.getMonth() + 1)).slice(-2) + '/' +
            ('0' + time.getDate()).slice(-2) + ' ' +
            ('0' + time.getHours()).slice(-2) + ':' +
            ('0' + time.getMinutes()).slice(-2) + ':' +
            ('0' + time.getSeconds()).slice(-2);

        $('#date-countdown2').countdown(formattedTime, function (event) {
            var $this = $(this).html(event.strftime(''
                + '<span class="countdown-block"><span class="label">%w</span> weeks </span>'
                + '<span class="countdown-block"><span class="label">%d</span> days </span>'
                + '<span class="countdown-block"><span class="label">%H</span> hr </span>'
                + '<span class="countdown-block"><span class="label">%M</span> min </span>'
                + '<span class="countdown-block"><span class="label">%S</span> sec</span>'));
        });

    };
    siteCountDown();
</script>

<!-- Bao gồm Bootstrap JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.2/js/bootstrap.bundle.min.js"></script>


</body>

</html>