<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="customer_fragments::head-fragment"></head>

<style>
    .popup-container {
        display: none;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4);
    }

    .popup-content {
        background-color: rgba(6, 3, 9, 0.98);
        margin: 5% auto;
        padding: 20px;
        /*border: 1px dashed #ff7e7e;*/
        max-width: 40rem;
        width: 100%;
        border-radius: 7px;
        box-shadow: 1px 1px 10px 0 rgb(238 30 70 / 50%);
    }

    .popup-close-btn {
        font-size: 24px;
        cursor: pointer;
    }

    .popup-body {
        padding-top: 20px;
    }

    .popup-body p {
        font-size: 16px;
        line-height: 1.7;
        color: #dee2e6;
        border-bottom: 1px solid #666666;
        padding: 10px;
    }

</style>

<body>
<div class="site-wrap">
    <div th:replace="customer_fragments::top-fragment"></div>

    <!--/CONTENT HERE/-->
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-12 title-section mb-5">
                    <h2 class="heading">Info Club</h2>
                </div>

                <div class="container">
                    <div class="d-flex justify-content-center align-items-center" style="background: #18131f; border-radius: 7px; padding: 50px 0px;">
                        <div class="col-lg-5" style="padding: 0 5em;">
                            <img class="img-fluid" th:src="@{${teamDetail.logo_img}}" style="width: 310px; height: 320px;">
                        </div>
                        <div class="col-lg-7">
                            <div class="p-4 rounded" style="font-size: 15rem;">
                                <div class="font-weight-bold">
                                    <p class="team-club-text">Name Club: <span class="team-club-text2" th:text="${teamDetail.name}"></span></p>
                                    <p class="team-club-text">Coach: <span class="team-club-text2" th:text="${teamDetail.coach}"></span></p>
                                    <p class="team-club-text">Home Stadium: <span class="team-club-text2" th:text="${teamDetail.home_stadium}"></span></p>
                                    <p class="team-club-text">Club Valuation: <span class="team-club-text2" th:text="${teamDetail.club_valuation} + 'B (€)'"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-12 title-section">
                    <h2 class="heading">Recent Matches</h2>
                </div>
                <div class="col-lg-6 mb-4" th:each="recentMatchesbyTeam : ${recentMatches}">
                    <div class="bg-light p-4 rounded" style="height: 100%">
                        <div>
                            <div class="widget-vs">
                                <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                                    <div class="team-1 text-center" style="width: 160px">
                                        <img th:src="@{${recentMatchesbyTeam.home_team.logo_img}}" alt="Image"
                                             style="height: 110px; width: 110px">
                                        <h3 class="mt-3" th:text="${recentMatchesbyTeam.home_team.name}"
                                            style="height: 40px;"></h3>
                                    </div>
                                    <div class="mr-4 ml-4" style="text-align: center;">
                                    <span class="vs">
                                        <span style="font-size: 35px; border-radius: 12px; padding: 0 10px;" th:class="'match-over-score-' + ${recentMatchesbyTeam.id}"></span>
                                        <div th:class="'match-detail'" onclick="openMatchPopup()" th:data-match-id="${recentMatchesbyTeam.id}" th:data-home-id="${recentMatchesbyTeam.home_team.id}" th:data-away-id="${recentMatchesbyTeam.away_team.id}">
                                    <i class="icon-info_outline mr-1"></i> Match details (click here)
                                </div>
                                    </span>
                                    </div>
                                    <div class="team-2 text-center" style="width: 160px">
                                        <img th:src="@{${recentMatchesbyTeam.away_team.logo_img}}" alt="Image"
                                             style="height: 110px; width: 110px">
                                        <h3 class="mt-3" th:text="${recentMatchesbyTeam.away_team.name}"
                                            style="height: 40px;"></h3>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                                    <div class="team-1 text-center mt-2" style="width: 160px">
                                        <div th:class="'mt-2 home-match-team-event-' + ${recentMatchesbyTeam.id}">
                                        </div>
                                    </div>
                                    <div class="mr-5 ml-5"></div>
                                    <div class="team-2 text-center mt-2" style="width: 160px">
                                        <div th:class="'away-match-team-event-' + ${recentMatchesbyTeam.id}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container" style="margin-bottom: 150px">
            <div class="row">
                <div class="container" th:if="${players != null and #lists.size(players) > 0}">
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="player-title">GOALKEEPERS</h2>
                            </div>
                        </div>
                        <hr style="border-top: 1px solid #666666; margin-bottom: 0">
                        <div class="row">
                            <div style="padding: 10px" class="col-md-3 player-team" th:each="player : ${players}" th:if="${player.position == 'Goalkeepers'}">
                                <img th:src="@{${player.avatar_img}}" alt="Image 1" class="img-fluid player-img">
                                <div class="player-info">
                                    <p class="position-absolute player-text player-number" th:text="${player.number}"></p>
                                    <p class="position-absolute player-text player-name" th:text="${player.name}"></p>
                                    <input class="player-date_of_birth" th:value="${player.date_of_birth}" hidden="hidden">
                                    <input class="player-national" th:value="${player.national}" hidden="hidden">
                                    <input class="player-position" th:value="${player.position}" hidden="hidden">
                                    <input class="player-weight" th:value="${player.weight}" hidden="hidden">
                                    <input class="player-height" th:value="${player.height}" hidden="hidden">
                                    <input class="player-achievement" th:value="${player.achievement}" hidden="hidden">
                                    <input class="player-team" th:value="${player.team.name}" hidden="hidden">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col-md-12">
                                <h2 class="player-title">DEFENDERS</h2>
                            </div>
                        </div>
                        <hr style="border-top: 1px solid #666666;">
                        <div class="row">
                            <div style="padding: 10px" class="col-md-3 player-team" th:each="player : ${players}" th:if="${player.position == 'Defenders'}">
                                <img th:src="@{${player.avatar_img}}" alt="Image 1" class="img-fluid player-img">
                                <div class="player-info">
                                    <p class="position-absolute player-text player-number" th:text="${player.number}"></p>
                                    <p class="position-absolute player-text player-name" th:text="${player.name}"></p>
                                    <input class="player-date_of_birth" th:value="${player.date_of_birth}" hidden="hidden">
                                    <input class="player-national" th:value="${player.national}" hidden="hidden">
                                    <input class="player-position" th:value="${player.position}" hidden="hidden">
                                    <input class="player-weight" th:value="${player.weight}" hidden="hidden">
                                    <input class="player-height" th:value="${player.height}" hidden="hidden">
                                    <input class="player-achievement" th:value="${player.achievement}" hidden="hidden">
                                    <input class="player-team" th:value="${player.team.name}" hidden="hidden">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col-md-12">
                                <h2 class="player-title">QUARTERBACKS</h2>
                            </div>
                        </div>
                        <hr style="border-top: 1px solid #666666;">
                        <div class="row">
                            <div style="padding: 10px" class="col-md-3 player-team" th:each="player : ${players}" th:if="${player.position == 'Quarterbacks'}">
                                <img th:src="@{${player.avatar_img}}" alt="Image 1" class="img-fluid player-img">
                                <div class="player-info">
                                    <p class="position-absolute player-text player-number" th:text="${player.number}"></p>
                                    <p class="position-absolute player-text player-name" th:text="${player.name}"></p>
                                    <input class="player-date_of_birth" th:value="${player.date_of_birth}" hidden="hidden">
                                    <input class="player-national" th:value="${player.national}" hidden="hidden">
                                    <input class="player-position" th:value="${player.position}" hidden="hidden">
                                    <input class="player-weight" th:value="${player.weight}" hidden="hidden">
                                    <input class="player-height" th:value="${player.height}" hidden="hidden">
                                    <input class="player-achievement" th:value="${player.achievement}" hidden="hidden">
                                    <input class="player-team" th:value="${player.team.name}" hidden="hidden">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col-md-12">
                                <h2 class="player-title">STRIKERS</h2>
                            </div>
                        </div>
                        <hr style="border-top: 1px solid #666666;">
                        <div class="row">
                            <div style="padding: 10px" class="col-md-3 player-team" th:each="player : ${players}" th:if="${player.position == 'Strikers'}">
                                <img th:src="@{${player.avatar_img}}" alt="Image 1" class="img-fluid player-img">
                                <div class="player-info">
                                    <p class="position-absolute player-text player-number" th:text="${player.number}"></p>
                                    <p class="position-absolute player-text player-name" th:text="${player.name}"></p>
                                    <input class="player-date_of_birth" th:value="${player.date_of_birth}" hidden="hidden">
                                    <input class="player-national" th:value="${player.national}" hidden="hidden">
                                    <input class="player-position" th:value="${player.position}" hidden="hidden">
                                    <input class="player-weight" th:value="${player.weight}" hidden="hidden">
                                    <input class="player-height" th:value="${player.height}" hidden="hidden">
                                    <input class="player-achievement" th:value="${player.achievement}" hidden="hidden">
                                    <input class="player-team" th:value="${player.team.name}" hidden="hidden">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--/END CONTENT HERE/-->

    <div th:replace="customer_fragments::bot-fragment"></div>
</div>

<div th:replace="customer_fragments::script-fragment"></div>


<!--pop-up match details-->
<div id="matchPopup" class="popup" onclick="closeMatchPopup()">
    <div class="popup-content">
        <span class="close" onclick="closeMatchPopup()">&times;</span>

        <div class="rounded">
            <div>
                <div class="widget-vs">
                    <p class="mb-4 match-detail-date" style="color: #ee1e46">

                    </p>
                    <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                        <div class="team-1 text-center match-detail-home" style="width: 150px">
                            <img src="https://res.cloudinary.com/dpbbb3imz/image/upload/v1696864355/cpstvpdp9phyduc9dcli.png"
                                 alt="Image" style="height: 80px; width: 80px">
                            <h3 class="mt-3" style="height: 40px;">Chelsea</h3>
                        </div>
                        <div class="mr-4 ml-4 match-detail-score" style="font-size: 35px; color: #bdc1c6">

                        </div>
                        <div class="team-2 text-center match-detail-away" style="width: 150px">
                            <img src="https://res.cloudinary.com/dpbbb3imz/image/upload/v1696868850/nb4j9nxyycetrhzaoki8.png"
                                 alt="Image" style="height: 80px; width: 80px">
                            <h3 class="mt-3" style="height: 40px;">Manchester United</h3>
                        </div>
                    </div>
                    <div class="d-flex align-items-center justify-content-around justify-content-between w-100 mt-2">
                        <div class="team-1 text-center mt-2" style="width: 160px">
                            <div class="mt-2 match-detail-home-event" style="color: #bdc1c6;">
                            </div>
                        </div>
                        <div class="mr-5 ml-5">
                            <i class="icon-futbol-o mr-1" style="font-size: x-large"></i>
                        </div>
                        <div class="team-2 text-center mt-2" style="width: 160px">
                            <div class="match-detail-away-event" style="color: #bdc1c6;">
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="d-flex align-items-center justify-content-around justify-content-between w-100 mt-2">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th class="match-detail-home">
                                <img src="https://res.cloudinary.com/dpbbb3imz/image/upload/v1696864355/cpstvpdp9phyduc9dcli.png"
                                     alt="Image" style="height: 30px; width: 30px">
                            </th>
                            <th class="text-matches-detail">TEAM STATS</th>
                            <th class="match-detail-away">
                                <img src="https://res.cloudinary.com/dpbbb3imz/image/upload/v1696868850/nb4j9nxyycetrhzaoki8.png"
                                     alt="Image" style="height: 30px; width: 30px">
                            </th>
                        </tr>
                        <tr>
                            <td class="match-detail-home-shot">
                                15
                            </td>
                            <th class="text-matches-detail">Shots</th>
                            <td class="match-detail-away-shot">
                                10
                            </td>
                        </tr>
                        <tr>
                            <td class="match-detail-home-shotOnTarget">
                                5
                            </td>
                            <th class="text-matches-detail">Shots on target</th>
                            <td class="match-detail-away-shotOnTarget">
                                3
                            </td>
                        </tr>
                        <tr>
                            <td class="match-detail-home-possession">
                                56%
                            </td>
                            <th class="text-matches-detail">Possession</th>
                            <td class="match-detail-away-possession">
                                44%
                            </td>
                        </tr>
                        <tr>
                            <td class="match-detail-home-passes">
                                593
                            </td>
                            <th class="text-matches-detail">Passes</th>
                            <td class="match-detail-away-passes">
                                463
                            </td>
                        </tr>
                        <tr>
                            <td class="match-detail-home-passAccuracy">
                                87%
                            </td>
                            <th class="text-matches-detail">Pass accuracy</th>
                            <td class="match-detail-away-passAccuracy">
                                84%
                            </td>
                        </tr>
                        <tr>
                            <td class="match-detail-home-foul">
                                10
                            </td>
                            <th class="text-matches-detail">Fouls</th>
                            <td class="match-detail-away-foul">
                                14
                            </td>
                        </tr>
                        <tr>
                            <td class="match-detail-home-yellow-cards">
                                2
                            </td>
                            <th class="text-matches-detail">Yellow cards</th>
                            <td class="match-detail-away-yellow-cards">
                                0
                            </td>
                        </tr>
                        <tr>
                            <td class="match-detail-home-red-cards">
                                0
                            </td>
                            <th class="text-matches-detail">Red cards</th>
                            <td class="match-detail-away-red-cards">
                                0
                            </td>
                        </tr>
                        <tr>
                            <td class="match-detail-home-offSide">
                                4
                            </td>
                            <th class="text-matches-detail">Offsides</th>
                            <td class="match-detail-away-offSide">
                                6
                            </td>
                        </tr>
                        <tr>
                            <td class="match-detail-home-corner">
                                3
                            </td>
                            <th class="text-matches-detail">Corners</th>
                            <td class="match-detail-away-corner">
                                5
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<!--pop up matches-->
<script>
    function openMatchPopup() {
        document.getElementById("matchPopup").style.display = "flex";
    }

    function closeMatchPopup() {
        document.getElementById("matchPopup").style.display = "none";
    }
</script>

<!--pop up player-->
<div class="popup-container" id="playerDetailPopup" onclick="closePlayerPopup()">
    <div class="popup-content">
        <div class="modal-header" style="padding: 0.5rem 0; border-bottom: 1px solid #dee2e6;">
            <h2 class="font-weight-bold" style="color: #ee1e46;" id="popupPlayerName"></h2>
            <span class="popup-close-btn" onclick="closePlayerPopup()">×</span>
        </div>
        <div class="popup-body" id="popupPlayerInfo"></div>
    </div>
</div>
<script>
    function openPlayerPopup(playerInfo, playerName) {
        document.getElementById("popupPlayerInfo").innerHTML = playerInfo;
        document.getElementById("popupPlayerName").innerText = playerName;
        document.getElementById("playerDetailPopup").style.display = "block";
    }

    document.querySelectorAll(".player-team").forEach(function(player) {
        player.addEventListener("click", function() {
            var playerName = player.querySelector(".player-name").textContent;
            var playerNumber = player.querySelector(".player-number").textContent;
            var playerDateOfBirth = player.querySelector(".player-date_of_birth").value;
            var playerNationality = player.querySelector(".player-national").value;
            var playerPosition = player.querySelector(".player-position").value;
            var playerWeight = player.querySelector(".player-weight").value;
            var playerHeight = player.querySelector(".player-height").value;
            var playerAchievements = player.querySelector(".player-achievement").value;
            var playerTeam = player.querySelector(".player-team").value;


            var playerInfo = `
            <p>Number: ${playerNumber}</p>
            <p>Date of Birth: ${playerDateOfBirth}</p>
            <p>Nationality: ${playerNationality}</p>
            <p>Position: ${playerPosition}</p>
            <p>Weight: ${playerWeight} (kg)</p>
            <p>Height: ${playerHeight} (cm)</p>
            <p>Achievements: ${playerAchievements}</p>
            <p>Team: ${playerTeam}</p>
        `;
            openPlayerPopup(playerInfo, playerName);
        });
    });

    function closePlayerPopup() {
        document.getElementById("playerDetailPopup").style.display = "none";
    }

</script>


<script th:if="${recentMatches} and ${#lists.size(recentMatches) > 0}" th:each="match : ${recentMatches}">
    var matchId = [[${match.id}]];
    var homeTeamId = [[${match.home_team_id.id}]];
    var awayTeamId = [[${match.away_team_id.id}]];

    var dataToSend = {
        homeTeamId: homeTeamId,
        awayTeamId: awayTeamId,
        matchId: matchId
    };

    if (dataToSend.matchId) {
        $.ajax({
            type: 'POST',
            url: '/api/getTeamEvent',
            contentType: 'application/json',
            data: JSON.stringify(dataToSend),
            success: function (res) {
                var homeTeamEventsUl = $('.home-match-team-event-' + res.matchId);
                homeTeamEventsUl.empty();
                $.each(res.homeTeamEventGoal, function (index, event) {
                    getPlayerById(event.player_id, function (player) {
                        var timeParts = event.time.split(':');
                        var minutes = timeParts[0];
                        var li = $('<li>').html('<p>' + player.name + ' (' + minutes + '\'' + ')</p');
                        homeTeamEventsUl.append(li);
                    });
                });

                var awayTeamEventsUl = $('.away-match-team-event-' + res.matchId);
                awayTeamEventsUl.empty();
                $.each(res.awayTeamEventGoal, function (index, event) {
                    getPlayerById(event.player_id, function (player) {
                        var timeParts = event.time.split(':');
                        var minutes = timeParts[0];
                        var li = $('<li>').html('<p>' + player.name + ' (' + minutes + '\'' + ')</p');
                        awayTeamEventsUl.append(li);
                    });
                });

                $('.match-over-score-' + res.matchId).html(res.homeTeamScore + ' - ' + res.awayTeamScore);
            }
        });
    }


    function getPlayerById(id, callback) {
        $.ajax({
            type: 'POST',
            url: '/api/getPlayerById',
            contentType: 'application/json',
            data: JSON.stringify({id: id}),
            success: function (res) {
                callback(res);
            }
        });
    }
</script>

<!--match detail-->
<script>
    $('.match-detail').on('click', function () {
        var matchId = $(this).attr('data-match-id');
        var homeTeamId = $(this).attr('data-home-id');
        var awayTeamId = $(this).attr('data-away-id');


        var dataToSend = {
            matchId: matchId,
            homeTeamId: homeTeamId,
            awayTeamId: awayTeamId
        };
        //call api match
        $.ajax({
            type: 'POST',
            url: '/api/match/detail',
            contentType: 'application/json',
            data: JSON.stringify(dataToSend),
            success: function (res) {
                console.log(res)
                const formattedTime = formatMatchTime(res.matchDetailDTO.match.match_time);
                $('.match-detail-date').html('<span style="font-weight: bold">Premier League • </span><span>' + formattedTime + '</span>');

                $('.match-detail-home').find('img').attr('src', res.matchDetailDTO.match.home_team_id.logo_img);
                $('.match-detail-away').find('img').attr('src', res.matchDetailDTO.match.away_team_id.logo_img);
                $('.match-detail-home').find('h3').attr('src', res.matchDetailDTO.match.home_team_id.name);
                $('.match-detail-away').find('h3').attr('src', res.matchDetailDTO.match.away_team_id.name);

                $('.match-detail-score').html(`<span>${res.homeTeamScore}</span>
                            <span style="padding: 0 50px">-</span>
                            <span>${res.awayTeamScore}</span>`);

                var homeTeamEventsUl = $('.match-detail-home-event');
                homeTeamEventsUl.empty();
                $.each(res.homeTeamEventGoal, function (index, event) {
                    getPlayerById(event.player_id, function (player) {
                        var timeParts = event.time.split(':');
                        var minutes = timeParts[0];
                        var li = $('<li>').html(`<p style="color: #bdc1c6;">${player.name} (${minutes}')</p>`);
                        homeTeamEventsUl.append(li);
                    });
                });
                var awayTeamEventsUl = $('.match-detail-away-event');
                awayTeamEventsUl.empty();
                $.each(res.awayTeamEventGoal, function (index, event) {
                    getPlayerById(event.player_id, function (player) {
                        var timeParts = event.time.split(':');
                        var minutes = timeParts[0];
                        var li = $('<li>').html(`<p style="color: #bdc1c6;">${player.name} (${minutes}')</p>`);
                        awayTeamEventsUl.append(li);
                    });
                });

                const shotData = res.matchDetailDTO.shot;
                updateDataAndType(shotData, "shot")
                const shotOnTargetData = res.matchDetailDTO.shotOnTarget;
                updateDataAndType(shotOnTargetData, "shotOnTarget")
                const possessionData = res.matchDetailDTO.possession;
                updateDataAndType(possessionData, "possession")
                const passes = res.matchDetailDTO.passes;
                updateDataAndType(passes, "passes")
                const passAccuracyData = res.matchDetailDTO.passAccuracy;
                updateDataAndType(passAccuracyData, "passAccuracy")
                const foulsData = res.matchDetailDTO.foul;
                updateDataAndType(foulsData, "foul")
                const offSidesData = res.matchDetailDTO.offSide;
                updateDataAndType(offSidesData, "offSide")
                const cornersData = res.matchDetailDTO.corner;
                updateDataAndType(cornersData, "corner")
                const yellow = res.matchDetailDTO.yellow_card;
                updateDataAndType(yellow, "yellow-cards")
                const red = res.matchDetailDTO.red_card;
                updateDataAndType(red, "red-cards")
            }
        });
        //call api match event

        //call api match detail
    })

    function formatMatchTime(matchTime) {
        const months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

        const date = new Date(matchTime);
        const day = date.getDate();
        const month = months[date.getMonth()];

        return `${getDayName(date)}, ${month} ${day}`;
    }

    function getDayName(date) {
        const days = ['Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat'];
        return days[date.getDay()];
    }

    function getPlayerById(id, callback) {
        $.ajax({
            type: 'POST',
            url: '/api/getPlayerById',
            contentType: 'application/json',
            data: JSON.stringify({id: id}),
            success: function (res) {
                callback(res);
            }
        });
    }

    function updateDataAndType(matchDetailString, typeString) {
        const [homeData, awayData] = matchDetailString.split(':');
        if (typeString === "passAccuracy" || typeString === "possession") {
            $('.match-detail-home-' + typeString).empty().text(homeData + '%');
            $('.match-detail-away-' + typeString).empty().text(awayData + '%');
        } else {
            $('.match-detail-home-' + typeString).empty().text(homeData);
            $('.match-detail-away-' + typeString).empty().text(awayData);
        }
    }
</script>
</body>

</html>