<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="customer_fragments::head-fragment"></head>

<body>
<div class="site-wrap">
    <div th:replace="customer_fragments::top-fragment"></div>

    <!--/CONTENT HERE/-->
    <div class="container site-section">
        <div class="row">
            <div class="col-6 title-section">
                <h2 class="heading">Latest News</h2>
            </div>
        </div>
        <div class="row img-father">
            <div th:each="aNew : ${news}" class="col-lg-4 mb-4">
                <div class="custom-media d-block ">
                    <div class="img mb-4">
                        <div class="div-content">
                            <a th:href="@{/news/detail/{id} (id=${aNew.id})}">
                                <img class="div-content"
                                     th:src="@{${aNew.new_img}}" alt="Image" style="width: 350px; height: 250px; object-fit: cover">
                            </a>
                        </div>

                    </div>
                    <div class="text">
                        <a th:href="@{/news/detail/{id} (id=${aNew.id})}">
                            <h3 class="mb-3 text-2-line" th:text="${aNew.title}"></h3>
                            <div>
                                <div th:utext="${aNew.sub_title}" class="line-2"></div>
                            </div>
                            <div class="mt-3">
                                <a th:href="@{/news/detail/{id} (id=${aNew.id})}">Read more</a>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>

        <div class="row justify-content-center">
            <div class="col-lg-7 text-center">
                <div class="custom-pagination">
                    <span class="ml-2" th:if="${totalPages > 1}" th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a class="color-red" th:if="${currentPage != i}" th:href="@{'/news/' + ${i}}" th:text="${i}"
                           style="background-color: white; color: #ca0f33"></a>
                        <span th:unless="${currentPage != i}" th:text="${i}"
                              style="background-color: #ca0f33; color: white"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <!--/END CONTENT HERE/-->

    <div th:replace="customer_fragments::bot-fragment"></div>
</div>

<div th:replace="customer_fragments::script-fragment"></div>
</body>

</html>