<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="customer_fragments::head-fragment"></head>

<body>
<div class="site-wrap">
    <div th:replace="customer_fragments::top-fragment"></div>

    <!--/CONTENT HERE/-->
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-6 title-section">
                    <h2 class="heading">Star Players / Videos</h2>
                </div>
                <div class="col-6 text-right">
                    <div class="custom-nav">
                        <a href="#" class="js-custom-prev-v2"><span class="icon-keyboard_arrow_left"></span></a>
                        <span></span>
                        <a href="#" class="js-custom-next-v2"><span class="icon-keyboard_arrow_right"></span></a>
                    </div>
                </div>
            </div>
            <div class="owl-4-slider owl-carousel">
                <div class="item">
                    <div class="video-media">
                        <img th:src="@{/user/images/videos/Messi.jpg}" alt="Image" class="img-fluid">
                        <a href="https://www.youtube.com/watch?v=ZmKy_fnRM_E" class="d-flex play-button align-items-center"
                           data-fancybox>
                  <span class="icon mr-3">
                    <span class="icon-play"></span>
                  </span>
                            <div class="caption">
                                <span class="meta"> G.O.A.T / 10 </span>
                                <h3 class="m-0">Lionel Messi</h3>
                            </div>
                        </a>
                    </div>
                </div>  <!--1 item la 1 video, anh, title-->
                <div class="item">
                    <div class="video-media">
                        <img th:src="@{/user/images/videos/cr7.jpg}" alt="Image" class="img-fluid">
                        <a href="https://www.youtube.com/watch?v=oChd0hdCJA0" class="d-flex play-button align-items-center"
                           data-fancybox>
                  <span class="icon mr-3">
                    <span class="icon-play"></span>
                  </span>
                            <div class="caption">
                                <span class="meta">Siuuuuu / 7</span>
                                <h3 class="m-0">Cristiano Ronaldo</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="video-media">
                        <img th:src="@{/user/images/videos/suarez.jpg}" alt="Image" class="img-fluid">
                        <a href="https://www.youtube.com/watch?v=jZBs4vR23EU" class="d-flex play-button align-items-center"
                           data-fancybox>
                  <span class="icon mr-3">
                    <span class="icon-play"></span>
                  </span>
                            <div class="caption">
                                <span class="meta">El Pistolero / 9</span>
                                <h3 class="m-0">Luis Suarez</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="video-media">
                        <img th:src="@{/user/images/videos/neymarjr.jpg}" alt="Image" class="img-fluid">
                        <a href="https://www.youtube.com/watch?v=dpL5zS-PngE" class="d-flex play-button align-items-center"
                           data-fancybox>
                  <span class="icon mr-3">
                    <span class="icon-play"></span>
                  </span>
                            <div class="caption">
                                <span class="meta">Juninho / 11</span>
                                <h3 class="m-0">Neymar da Silva Santos Jr</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="video-media">
                        <img th:src="@{/user/images/videos/lewan.jpg}" alt="Image" class="img-fluid">
                        <a href="https://www.youtube.com/watch?v=Y7mdgvlTlmo" class="d-flex play-button align-items-center"
                           data-fancybox>
                  <span class="icon mr-3">
                    <span class="icon-play"></span>
                  </span>
                            <div class="caption">
                                <span class="meta">Lewy / 9</span>
                                <h3 class="m-0">Robert Lewandowski</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="video-media">
                        <img th:src="@{/user/images/videos/dejong.jpg}" alt="Image" class="img-fluid">
                        <a href="https://www.youtube.com/watch?v=yvDJDXDNdLY" class="d-flex play-button align-items-center"
                           data-fancybox>
                  <span class="icon mr-3">
                    <span class="icon-play"></span>
                  </span>
                            <div class="caption">
                                <span class="meta">Busquets 2.0 / 21</span>
                                <h3 class="m-0">Frenkie de Jong</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="video-media">
                        <img th:src="@{/user/images/videos/debryn.jpg}" alt="Image" class="img-fluid">
                        <a href="https://www.youtube.com/watch?v=PnMMSMFirhk" class="d-flex play-button align-items-center"
                           data-fancybox>
                  <span class="icon mr-3">
                    <span class="icon-play"></span>
                  </span>
                            <div class="caption">
                                <span class="meta">Kevin "Trap" / 17</span>
                                <h3 class="m-0">Kevin De Bruyne</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="video-media">
                        <img th:src="@{/user/images/videos/mbape.jpg}" alt="Image" class="img-fluid">
                        <a href="https://www.youtube.com/watch?v=ul47XvIZyKI" class="d-flex play-button align-items-center"
                           data-fancybox>
                  <span class="icon mr-3">
                    <span class="icon-play"></span>
                  </span>
                            <div class="caption">
                                <span class="meta">Penguin / 7</span>
                                <h3 class="m-0">Kylian Mbappe</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="video-media">
                        <img th:src="@{/user/images/videos/halan.jpg}" alt="Image" class="img-fluid">
                        <a href="https://www.youtube.com/watch?v=HDXj6jiCeis" class="d-flex play-button align-items-center"
                           data-fancybox>
                  <span class="icon mr-3">
                    <span class="icon-play"></span>
                  </span>
                            <div class="caption">
                                <span class="meta">Daemon / 9</span>
                                <h3 class="m-0">Erling Haaland</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="video-media">
                        <img th:src="@{/user/images/videos/be.jpg}" alt="Image" class="img-fluid">
                        <a href="https://www.youtube.com/watch?v=Ujtckk2soKI" class="d-flex play-button align-items-center"
                           data-fancybox>
                  <span class="icon mr-3">
                    <span class="icon-play"></span>
                  </span>
                            <div class="caption">
                                <span class="meta">Mr. Be/ 5</span>
                                <h3 class="m-0">Jude Bellingham</h3>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="item">
                    <div class="video-media">
                        <img th:src="@{/user/images/videos/r4.jpg}" alt="Image" class="img-fluid">
                        <a href="https://www.youtube.com/watch?v=KWFOHlY3Oqk" class="d-flex play-button align-items-center"
                           data-fancybox>
                  <span class="icon mr-3">
                    <span class="icon-play"></span>
                  </span>
                            <div class="caption">
                                <span class="meta">Doctor / 10</span>
                                <h3 class="m-0">Marcus Rashford</h3>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container site-section">
        <div class="row">
            <div class="col-6 title-section">
                <h2 class="heading">Soccer Team List</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 mb-4" th:each="team : ${teams}">
                <div class="custom-media d-block">
                    <div class="img mb-4">
                        <a th:href="@{/teams/detail/{id} (id=${team.id})}">
                            <img th:src="@{${team.logo_img}}" alt="Image" class="img-fluid img-thumbnail"
                                 style="width: 250px; height: 260px; max-width: 100%; background-color: #00000000;
                                 border: 1px solid #4e535a; padding: 20px">
                        </a>
                    </div>
                    <div class="text text-center">
                        <h3 class="mb-4">
                            <a th:href="@{/teams/detail/{id} (id=${team.id})}" th:text="${team.name}" style="font-size: 17px"></a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/END CONTENT HERE/-->

    <div th:replace="customer_fragments::bot-fragment"></div>
</div>

<div th:replace="customer_fragments::script-fragment"></div>
</body>

</html>