<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="customer_fragments::head-fragment"></head>

<body>
<div class="site-wrap">
    <div th:replace="customer_fragments::top-fragment"></div>

    <!--/CONTENT HERE/-->
    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-12 title-section mb-5">
                    <h2 class="heading">Info Club</h2>
                </div>

                <div class="container">
                    <div class="d-flex justify-content-center align-items-center" style="background: #18131f; border-radius: 7px; padding: 30px 0px;">
                        <div class="col-lg-5" style="padding: 0 5em;">
                            <img class="img-fluid" th:src="@{${teamDetail.logo_img}}" style="width: 310px; height: 310px;">
                        </div>
                        <div class="col-lg-7">
                            <div class="p-4 rounded" style="font-size: 15rem;">
                                <div class="font-weight-bold">
                                    <p class="team-club-text">Name Club: <span class="team-club-text2" th:text="${teamDetail.name}"></span></p>
                                    <p class="team-club-text">Coach: <span class="team-club-text2" th:text="${teamDetail.coach}"></span></p>
                                    <p class="team-club-text">Home Stadium: <span class="team-club-text2" th:text="${teamDetail.home_stadium}"></span></p>
                                    <p class="team-club-text">Club Valuation: <span class="team-club-text2" th:text="${teamDetail.club_valuation} + 'B (€)'"></span></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="site-section">
        <div class="container">
            <div class="row">
                <div class="col-12 title-section">
                    <h2 class="heading">Recent Matches</h2>
                </div>
                <div class="col-lg-6 mb-4" th:each="recentMatchesbyTeam : ${recentMatches}">
                    <div class="bg-light p-4 rounded">
                        <div>
                            <div class="widget-vs">
                                <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                                    <div class="team-1 text-center" style="width: 160px">
                                        <img th:src="@{${recentMatchesbyTeam.home_team.logo_img}}" alt="Image"
                                             style="height: 110px; width: 110px">
                                        <h3 class="mt-3" th:text="${recentMatchesbyTeam.home_team.name}"
                                            style="height: 40px;"></h3>
                                    </div>
                                    <div class="mr-4 ml-4">
                                    <span class="vs">
                                        <span style="font-size: 35px; border-radius: 12px; padding: 0 10px;">
                                            5 - 3
                                        </span>
                                    </span>
                                    </div>
                                    <div class="team-2 text-center" style="width: 160px">
                                        <img th:src="@{${recentMatchesbyTeam.away_team.logo_img}}" alt="Image"
                                             style="height: 110px; width: 110px">
                                        <h3 class="mt-3" th:text="${recentMatchesbyTeam.away_team.name}"
                                            style="height: 40px;"></h3>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                                    <div class="team-1 text-center mt-2" style="width: 160px">
                                        <div class="mt-2">
                                            <p><i class="icon-futbol-o mr-1"></i> Cristiano Ronaldo</p>
                                            <p><i class="icon-futbol-o mr-1"></i> Cristiano Ronaldo</p>
                                            <p><i class="icon-futbol-o mr-1"></i> Cristiano Ronaldo</p>
                                            <p><i class="icon-futbol-o mr-1"></i> Cristiano Ronaldo</p>
                                            <p><i class="icon-futbol-o mr-1"></i> Cristiano Ronaldo</p>
                                        </div>
                                    </div>
                                    <div class="mr-5 ml-5"></div>
                                    <div class="team-2 text-center mt-2" style="width: 160px">
                                        <div>
                                            <p><i class="icon-futbol-o mr-1"></i> Cristiano Ronaldo</p>
                                            <p><i class="icon-futbol-o mr-1"></i> Cristiano Ronaldo</p>
                                            <p><i class="icon-futbol-o mr-1"></i> Cristiano Ronaldo</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container" style="margin-bottom: 150px">
            <div class="row">
                <div class="container" th:if="${players != null and #lists.size(players) > 0}">
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <h2 class="player-title">GOALKEEPERS</h2>
                            </div>
                        </div>
                        <hr style="border-top: 1px solid #666666;">
                        <div class="row">
                            <div class="col-md-3 player-team" th:each="player : ${players}" th:if="${player.position == 'Goalkeepers'}">
                                <a href="">
                                    <img th:src="@{${player.avatar_img}}" alt="Image 1" class="img-fluid player-img">
                                    <div class="player-info">
                                        <p class="position-absolute player-text player-number" th:text="${player.number}"></p>
                                        <p class="position-absolute player-text player-name" th:text="${player.name}"></p>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col-md-12">
                                <h2 class="player-title">DEFENDERS</h2>
                            </div>
                        </div>
                        <hr style="border-top: 1px solid #666666;">
                        <div class="row">
                            <div class="col-md-3 player-team" th:each="player : ${players}" th:if="${player.position == 'Defenders'}">
                                <a href="">
                                    <img th:src="@{${player.avatar_img}}" alt="Image 1" class="img-fluid player-img">
                                    <div class="player-info">
                                        <p class="position-absolute player-text player-number" th:text="${player.number}"></p>
                                        <p class="position-absolute player-text player-name" th:text="${player.name}"></p>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col-md-12">
                                <h2 class="player-title">QUARTERBACKS</h2>
                            </div>
                        </div>
                        <hr style="border-top: 1px solid #666666;">
                        <div class="row">
                            <div class="col-md-3 player-team" th:each="player : ${players}" th:if="${player.position == 'Quarterbacks'}">
                                <a href="">
                                    <img th:src="@{${player.avatar_img}}" alt="Image 1" class="img-fluid player-img">
                                    <div class="player-info">
                                        <p class="position-absolute player-text player-number" th:text="${player.number}"></p>
                                        <p class="position-absolute player-text player-name" th:text="${player.name}"></p>
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col-md-12">
                                <h2 class="player-title">STRIKERS</h2>
                            </div>
                        </div>
                        <hr style="border-top: 1px solid #666666;">
                        <div class="row">
                            <div class="col-md-3 player-team" th:each="player : ${players}" th:if="${player.position == 'Strikers'}">
                                <a href="">
                                    <img th:src="@{${player.avatar_img}}" alt="Image 1" class="img-fluid player-img">
                                    <div class="player-info">
                                        <p class="position-absolute player-text player-number" th:text="${player.number}"></p>
                                        <p class="position-absolute player-text player-name" th:text="${player.name}"></p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--/END CONTENT HERE/-->

    <div th:replace="customer_fragments::bot-fragment"></div>
</div>

<div th:replace="customer_fragments::script-fragment"></div>
</body>

</html>