<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="customer_fragments::head-fragment"></head>

<body>
<div class="site-wrap">
  <div th:replace="customer_fragments::top-fragment"></div>

  <!--/CONTENT HERE/-->
  <div class="container site-section">
    <div class="row">
      <div class="col-6 title-section">
        <h2 class="heading">The match is about to take place</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 mb-5" th:each="match : ${upcomingMatches}">
          <a href="">
              <div class="custom-media d-block text-center" style="border-radius: 0.25rem; border: 1px solid #4e535a; padding: 1rem">
                  <div class="img mb-4">
                    <div>
                        <img th:src="@{${match.home_team_id.logo_img}}" alt="Image" class="img-fluid" style="height: 100px; width: 100px;">
                        <span style="margin: 0 20px"> vs </span>
                        <img th:src="@{${match.away_team_id.logo_img}}" alt="Image" class="img-fluid" style="height: 100px; width: 100px;">
                    </div>
                  </div>
                  <div class="text">
                      <h3 class="mb-2">Manchester United - Chelsea</h3>
                      <p class="meta text-white">
                          <i style="color: #ca0f33; font-size: large" class="icon-timer"></i>
                          May 20, 2020
                      </p>
                      <p class="meta text-white ml-1">
                          <i style="color: #ca0f33; font-size: large" class="icon-map-marker"></i>
                          Old Trafford Stadium
                      </p>
                  </div>
            </div>
            <div class="position-absolute top-0 ">
              <div class="bg-success text-white p-2" style="border-radius: 0.25rem 0 0.25rem 0">
                On selling
              </div>
            </div>
          </a>
        </div>
      <div class="col-lg-4 mb-5">
        <a href="">
          <div class="custom-media d-block text-center" style="border-radius: 0.25rem; border: 1px solid #4e535a; padding: 1rem">
            <div class="img mb-2">
              <div>
                <img src="/user/images/img_1.jpg" alt="Image" class="img-fluid" style="max-height: 140px;">
                <span style="margin: 0 10px"> vs </span>
                <img src="/user/images/img_1.jpg" alt="Image" class="img-fluid" style="max-height: 140px;">
              </div>
            </div>
            <div class="text">
              <h3 class="mb-2">Manchester United - Chelsea</h3>
              <p class="meta text-white">
                <i style="color: #ca0f33; font-size: large" class="icon-timer"></i>
                May 20, 2020
              </p>
              <p class="meta text-white ml-1">
                <i style="color: #ca0f33; font-size: large" class="icon-map-marker"></i>
                Old Trafford Stadium
              </p>
            </div>
          </div>
          <div class="position-absolute top-0 ">
            <div class="bg-success text-white p-2" style="border-radius: 0.25rem 0 0.25rem 0">
              On selling
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 mb-5">
        <a href="">
          <div class="custom-media d-block text-center" style="border-radius: 0.25rem; border: 1px solid #4e535a; padding: 1rem">
            <div class="img mb-2">
              <div>
                <img src="/user/images/img_1.jpg" alt="Image" class="img-fluid" style="max-height: 140px;">
                <span style="margin: 0 10px"> vs </span>
                <img src="/user/images/img_1.jpg" alt="Image" class="img-fluid" style="max-height: 140px;">
              </div>
            </div>
            <div class="text">
              <h3 class="mb-2">Manchester United - Chelsea</h3>
              <p class="meta text-white">
                <i style="color: #ca0f33; font-size: large" class="icon-timer"></i>
                May 20, 2020
              </p>
              <p class="meta text-white ml-1">
                <i style="color: #ca0f33; font-size: large" class="icon-map-marker"></i>
                Old Trafford Stadium
              </p>
            </div>
          </div>
          <div class="position-absolute top-0 ">
            <div class="bg-success text-white p-2" style="border-radius: 0.25rem 0 0.25rem 0">
              On selling
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 mb-5">
        <a href="">
          <div class="custom-media d-block text-center" style="border-radius: 0.25rem; border: 1px solid #4e535a; padding: 1rem">
            <div class="img mb-2">
              <div>
                <img src="/user/images/img_1.jpg" alt="Image" class="img-fluid" style="max-height: 140px;">
                <span style="margin: 0 10px"> vs </span>
                <img src="/user/images/img_1.jpg" alt="Image" class="img-fluid" style="max-height: 140px;">
              </div>
            </div>
            <div class="text">
              <h3 class="mb-2">Manchester United - Chelsea</h3>
              <p class="meta text-white">
                <i style="color: #ca0f33; font-size: large" class="icon-timer"></i>
                May 20, 2020
              </p>
              <p class="meta text-white ml-1">
                <i style="color: #ca0f33; font-size: large" class="icon-map-marker"></i>
                Old Trafford Stadium
              </p>
            </div>
          </div>
          <div class="position-absolute top-0 ">
            <div class="bg-success text-white p-2" style="border-radius: 0.25rem 0 0.25rem 0">
              On selling
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 mb-5">
        <a href="">
          <div class="custom-media d-block text-center" style="border-radius: 0.25rem; border: 1px solid #4e535a; padding: 1rem">
            <div class="img mb-2">
              <div>
                <img src="/user/images/img_1.jpg" alt="Image" class="img-fluid" style="max-height: 140px;">
                <span style="margin: 0 10px"> vs </span>
                <img src="/user/images/img_1.jpg" alt="Image" class="img-fluid" style="max-height: 140px;">
              </div>
            </div>
            <div class="text">
              <h3 class="mb-2">Manchester United - Chelsea</h3>
              <p class="meta text-white">
                <i style="color: #ca0f33; font-size: large" class="icon-timer"></i>
                May 20, 2020
              </p>
              <p class="meta text-white ml-1">
                <i style="color: #ca0f33; font-size: large" class="icon-map-marker"></i>
                Old Trafford Stadium
              </p>
            </div>
          </div>
          <div class="position-absolute top-0 ">
            <div class="bg-success text-white p-2" style="border-radius: 0.25rem 0 0.25rem 0">
              On selling
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 mb-5">
        <a href="">
          <div class="custom-media d-block text-center" style="border-radius: 0.25rem; border: 1px solid #4e535a; padding: 1rem">
            <div class="img mb-2">
              <div>
                <img src="/user/images/img_1.jpg" alt="Image" class="img-fluid" style="max-height: 140px;">
                <span style="margin: 0 10px"> vs </span>
                <img src="/user/images/img_1.jpg" alt="Image" class="img-fluid" style="max-height: 140px;">
              </div>
            </div>
            <div class="text">
              <h3 class="mb-2">Manchester United - Chelsea</h3>
              <p class="meta text-white">
                <i style="color: #ca0f33; font-size: large" class="icon-timer"></i>
                May 20, 2020
              </p>
              <p class="meta text-white ml-1">
                <i style="color: #ca0f33; font-size: large" class="icon-map-marker"></i>
                Old Trafford Stadium
              </p>
            </div>
          </div>
          <div class="position-absolute top-0 ">
            <div class="bg-success text-white p-2" style="border-radius: 0.25rem 0 0.25rem 0">
              On selling
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>

  <div class="container" style="padding: 0 0 7em 0;">
    <div class="row">
      <div class="col-6 title-section">
        <h2 class="heading">The match was over</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 mb-5">
        <a href="">
          <div class="custom-media d-block text-center" style="border-radius: 0.25rem; border: 1px solid #4e535a; padding: 1rem">
            <div class="img mb-2">
              <div>
                <img src="/user/images/img_1.jpg" alt="Image" class="img-fluid" style="max-height: 140px;">
                <span style="margin: 0 10px"> vs </span>
                <img src="/user/images/img_1.jpg" alt="Image" class="img-fluid" style="max-height: 140px;">
              </div>
            </div>
            <div class="text">
              <h3 class="mb-2">Manchester United - Chelsea</h3>
              <p class="meta text-white">
                <i style="color: #ca0f33; font-size: large" class="icon-timer"></i>
                May 20, 2020
              </p>
              <p class="meta text-white ml-1">
                <i style="color: #ca0f33; font-size: large" class="icon-map-marker"></i>
                Old Trafford Stadium
              </p>
            </div>
          </div>
          <div class="position-absolute top-0 ">
            <div class="bg-danger text-white p-2" style="border-radius: 0.25rem 0 0.25rem 0">
              Stopped selling
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 mb-5">
        <a href="">
          <div class="custom-media d-block text-center" style="border-radius: 0.25rem; border: 1px solid #4e535a; padding: 1rem">
            <div class="img mb-2">
              <div>
                <img src="/user/images/img_1.jpg" alt="Image" class="img-fluid" style="max-height: 140px;">
                <span style="margin: 0 10px"> vs </span>
                <img src="/user/images/img_1.jpg" alt="Image" class="img-fluid" style="max-height: 140px;">
              </div>
            </div>
            <div class="text">
              <h3 class="mb-2">Manchester United - Chelsea</h3>
              <p class="meta text-white">
                <i style="color: #ca0f33; font-size: large" class="icon-timer"></i>
                May 20, 2020
              </p>
              <p class="meta text-white ml-1">
                <i style="color: #ca0f33; font-size: large" class="icon-map-marker"></i>
                Old Trafford Stadium
              </p>
            </div>
          </div>
          <div class="position-absolute top-0 ">
            <div class="bg-danger text-white p-2" style="border-radius: 0.25rem 0 0.25rem 0">
              Stopped selling
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 mb-5">
        <a href="">
          <div class="custom-media d-block text-center" style="border-radius: 0.25rem; border: 1px solid #4e535a; padding: 1rem">
            <div class="img mb-2">
              <div>
                <img src="/user/images/img_1.jpg" alt="Image" class="img-fluid" style="max-height: 140px;">
                <span style="margin: 0 10px"> vs </span>
                <img src="/user/images/img_1.jpg" alt="Image" class="img-fluid" style="max-height: 140px;">
              </div>
            </div>
            <div class="text">
              <h3 class="mb-2">Manchester United - Chelsea</h3>
              <p class="meta text-white">
                <i style="color: #ca0f33; font-size: large" class="icon-timer"></i>
                May 20, 2020
              </p>
              <p class="meta text-white ml-1">
                <i style="color: #ca0f33; font-size: large" class="icon-map-marker"></i>
                Old Trafford Stadium
              </p>
            </div>
          </div>
          <div class="position-absolute top-0 ">
            <div class="bg-danger text-white p-2" style="border-radius: 0.25rem 0 0.25rem 0">
              Stopped selling
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 mb-5">
        <a href="">
          <div class="custom-media d-block text-center" style="border-radius: 0.25rem; border: 1px solid #4e535a; padding: 1rem">
            <div class="img mb-2">
              <div>
                <img src="/user/images/img_1.jpg" alt="Image" class="img-fluid" style="max-height: 140px;">
                <span style="margin: 0 10px"> vs </span>
                <img src="/user/images/img_1.jpg" alt="Image" class="img-fluid" style="max-height: 140px;">
              </div>
            </div>
            <div class="text">
              <h3 class="mb-2">Manchester United - Chelsea</h3>
              <p class="meta text-white">
                <i style="color: #ca0f33; font-size: large" class="icon-timer"></i>
                May 20, 2020
              </p>
              <p class="meta text-white ml-1">
                <i style="color: #ca0f33; font-size: large" class="icon-map-marker"></i>
                Old Trafford Stadium
              </p>
            </div>
          </div>
          <div class="position-absolute top-0 ">
            <div class="bg-danger text-white p-2" style="border-radius: 0.25rem 0 0.25rem 0">
              Stopped selling
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 mb-5">
        <a href="">
          <div class="custom-media d-block text-center" style="border-radius: 0.25rem; border: 1px solid #4e535a; padding: 1rem">
            <div class="img mb-2">
              <div>
                <img src="/user/images/img_1.jpg" alt="Image" class="img-fluid" style="max-height: 140px;">
                <span style="margin: 0 10px"> vs </span>
                <img src="/user/images/img_1.jpg" alt="Image" class="img-fluid" style="max-height: 140px;">
              </div>
            </div>
            <div class="text">
              <h3 class="mb-2">Manchester United - Chelsea</h3>
              <p class="meta text-white">
                <i style="color: #ca0f33; font-size: large" class="icon-timer"></i>
                May 20, 2020
              </p>
              <p class="meta text-white ml-1">
                <i style="color: #ca0f33; font-size: large" class="icon-map-marker"></i>
                Old Trafford Stadium
              </p>
            </div>
          </div>
          <div class="position-absolute top-0 ">
            <div class="bg-danger text-white p-2" style="border-radius: 0.25rem 0 0.25rem 0">
              Stopped selling
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 mb-5">
        <a href="">
          <div class="custom-media d-block text-center" style="border-radius: 0.25rem; border: 1px solid #4e535a; padding: 1rem">
            <div class="img mb-2">
              <div>
                <img src="/user/images/img_1.jpg" alt="Image" class="img-fluid" style="max-height: 140px;">
                <span style="margin: 0 10px"> vs </span>
                <img src="/user/images/img_1.jpg" alt="Image" class="img-fluid" style="max-height: 140px;">
              </div>
            </div>
            <div class="text">
              <h3 class="mb-2">Manchester United - Chelsea</h3>
              <p class="meta text-white">
                <i style="color: #ca0f33; font-size: large" class="icon-timer"></i>
                May 20, 2020
              </p>
              <p class="meta text-white ml-1">
                <i style="color: #ca0f33; font-size: large" class="icon-map-marker"></i>
                Old Trafford Stadium
              </p>
            </div>
          </div>
          <div class="position-absolute top-0 ">
            <div class="bg-danger text-white p-2" style="border-radius: 0.25rem 0 0.25rem 0">
              Stopped selling
            </div>
          </div>
        </a>
      </div>

      <div class="col-lg-4 mb-5">
        <a href="">
          <div class="custom-media d-block text-center" style="border-radius: 0.25rem; border: 1px solid #4e535a; padding: 1rem">
            <div class="img mb-2">
              <div>
                <img src="/user/images/img_1.jpg" alt="Image" class="img-fluid" style="max-height: 140px;">
                <span style="margin: 0 10px"> vs </span>
                <img src="/user/images/img_1.jpg" alt="Image" class="img-fluid" style="max-height: 140px;">
              </div>
            </div>
            <div class="text">
              <h3 class="mb-2">Manchester United - Chelsea</h3>
              <p class="meta text-white">
                <i style="color: #ca0f33; font-size: large" class="icon-timer"></i>
                May 20, 2020
              </p>
              <p class="meta text-white ml-1">
                <i style="color: #ca0f33; font-size: large" class="icon-map-marker"></i>
                Old Trafford Stadium
              </p>
            </div>
          </div>
          <div class="position-absolute top-0 ">
            <div class="bg-danger text-white p-2" style="border-radius: 0.25rem 0 0.25rem 0">
              Stopped selling
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 mb-5">
        <a href="">
          <div class="custom-media d-block text-center" style="border-radius: 0.25rem; border: 1px solid #4e535a; padding: 1rem">
            <div class="img mb-2">
              <div>
                <img src="/user/images/img_1.jpg" alt="Image" class="img-fluid" style="max-height: 140px;">
                <span style="margin: 0 10px"> vs </span>
                <img src="/user/images/img_1.jpg" alt="Image" class="img-fluid" style="max-height: 140px;">
              </div>
            </div>
            <div class="text">
              <h3 class="mb-2">Manchester United - Chelsea</h3>
              <p class="meta text-white">
                <i style="color: #ca0f33; font-size: large" class="icon-timer"></i>
                May 20, 2020
              </p>
              <p class="meta text-white ml-1">
                <i style="color: #ca0f33; font-size: large" class="icon-map-marker"></i>
                Old Trafford Stadium
              </p>
            </div>
          </div>
          <div class="position-absolute top-0 ">
            <div class="bg-danger text-white p-2" style="border-radius: 0.25rem 0 0.25rem 0">
              Stopped selling
            </div>
          </div>
        </a>
      </div>
      <div class="col-lg-4 mb-5">
        <a href="">
          <div class="custom-media d-block text-center" style="border-radius: 0.25rem; border: 1px solid #4e535a; padding: 1rem">
            <div class="img mb-2">
              <div>
                <img src="/user/images/img_1.jpg" alt="Image" class="img-fluid" style="max-height: 140px;">
                <span style="margin: 0 10px"> vs </span>
                <img src="/user/images/img_1.jpg" alt="Image" class="img-fluid" style="max-height: 140px;">
              </div>
            </div>
            <div class="text">
              <h3 class="mb-2">Manchester United - Chelsea</h3>
              <p class="meta text-white">
                <i style="color: #ca0f33; font-size: large" class="icon-timer"></i>
                May 20, 2020
              </p>
              <p class="meta text-white ml-1">
                <i style="color: #ca0f33; font-size: large" class="icon-map-marker"></i>
                Old Trafford Stadium
              </p>
            </div>
          </div>
          <div class="position-absolute top-0 ">
            <div class="bg-danger text-white p-2" style="border-radius: 0.25rem 0 0.25rem 0">
              Stopped selling
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <!--/END CONTENT HERE/-->

  <div th:replace="customer_fragments::bot-fragment"></div>
</div>
