<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="customer_fragments::head-fragment"></head>

<body>
<div class="site-wrap">
    <div th:replace="customer_fragments::top-fragment"></div>

    <!--/CONTENT HERE/-->
    <div class="site-section">
        <div class="container">
            <div class="p-3 px-lg-0 container-lg">
                <div class="p-3 border rounded">
                    <h1 class="text-sm-center font-weight-bold"
                        th:text="${match.home_team.name + ' - ' + match.away_team.name}"></h1>
                    <div class="position-relative" style="max-height: 100px; overflow: hidden;">
                        <div class="mt-3 text-start text-sm-center"></div>
                    </div>
                    <div class="mt-3 text-white text-md-center row" style="font-size: large">
                        <div class="col-md-4 col-sm-6 col-12">
                            <i class="icon-map-marker" style="color: #ca0f33"></i>
                            <span th:text="${match.stadium_id.name}"></span>
                        </div>
                        <!--<div class="col-md-4 col-sm-6 col-12">
                            <i class="icon-calendar" style="color: #ca0f33"></i>
                            <span id="date-format"></span>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12">
                            <i class="icon-clock-o" style="color: #ca0f33"></i>
                            <span id="time-format"></span>
                        </div>-->
                        <div class="col-md-4 col-sm-6 col-12">
                            <i class="icon-calendar" style="color: #ca0f33"></i>
                            <span id="date-format" th:text="${#temporals.format(match.match_time, 'MMM dd, yyyy')}"></span>
                        </div>
                        <div class="col-md-4 col-sm-6 col-12">
                            <i class="icon-clock-o" style="color: #ca0f33"></i>
                            <span id="time-format" th:text="${#temporals.format(match.match_time, 'HH:mm') + ' (GMT+0)'}"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div id="eventDetailContent" class="mt-3 p-3 px-lg-0 container-lg">
                <div class="pt-3 row">
                    <div class="col-xl-8 col-12">
                        <div class="text-lg-center w-100 mb-4 text-white font-weight-bold">
                            <h3 class="color-red" th:text="${match.stadium_id.name}"></h3>
                        </div>
                        <div class="rounded overflow-hidden stadium-container">
                            <div class="position-relative user-select-none main-stage" style="min-height: 350px;">
                                <img th:src="@{${match.stadium_id.map_img}}" alt="Image" class="img-fluid"
                                    style="border-radius: 12px;"></a>
                            </div>
                        </div>
                        <div class="mt-5 text-center text-white">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr style="background-color: #ee1e46;">
                                        <th scope="col">Area name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">The remaining amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="item : ${ticketsbyMatch}">
                                        <td th:text="${item.area.area_name}"></td>
                                        <td th:text="${item.price}"></td>
                                        <td th:text="${item.quantity}"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="col-xl-4 col-12">
<!--                        TODO-->
                        <div class="text-lg-center w-100 mb-4 text-white font-weight-bold">
                            <h3>
                                Select Tickets
                            </h3>
                        </div>
                        <div class="rounded overflow-hidden stadium-container">
                            <div class="p-3">
                                <div class="form-group text-white">
                                    <label for="ticketType">Ticket Type</label>
                                     <select class="form-control bg-white color-black" id="ticketType"
                                            style="border: 2px solid #6c757d; padding: 0 1.125rem;">
                                         <option th:each="item : ${ticketsbyMatch}"
                                                 th:value="${item.id}"
                                                 th:text="${item.area.area_name}"></option>
                                        <!-- Thêm các option khác nếu cần -->
                                    </select>
                                </div>
                                <div class="form-group text-white mb-4">
                                    <label for="quantity">Quantity</label>
                                    <div class="input-group">
                                        <button class="btn btn-outline-secondary bg-white crease color-black"
                                                type="button"
                                                id="decrease">-
                                        </button>
                                        <input type="number"
                                               class="form-control rounded text-center bg-white color-black"
                                               id="quantity" min="1" value="1" style="border: 2px solid #6c757d">
                                        <button class="btn btn-outline-secondary bg-white crease color-black"
                                                type="button"
                                                id="increase">+
                                        </button>
                                    </div>
                                </div>
                                <button type="button" class="btn btn-success btn-block text-white" onclick="onAddToCart()">
                                    Add to Cart <i class="icon-shopping-cart"></i>
                                </button>
                                <form th:action="@{/logged/order}" method="get">
                                <button type="submit" class="btn btn-primary btn-block mt-2">
                                    Order <i class="icon-arrow-right"></i>
                                </button>
                                </form>
                            </div>
                        </div>
                        <!--<div class="rounded overflow-hidden stadium-container">
                            <div class="p-3">
                                <form th:action="@{/ticket/detail/add}" method="post">
                                <div class="form-group text-white">
                                    <label for="ticketType">Ticket Type</label>
                                    <select class="form-control bg-white color-black" id="ticketType"
                                            style="border: 2px solid #6c757d" name="ticket" >
                                        <option th:each="item : ${tickets}"
                                                th:value="${item.id}"
                                                th:text="${item.area.area_name}"></option>
                                        &lt;!&ndash; Thêm các option khác nếu cần &ndash;&gt;
                                    </select>
                                </div>
                                <div class="form-group text-white mb-4">
                                    <label for="quantity">Quantity</label>
                                    <div class="input-group">
                                        <button class="btn btn-outline-secondary bg-white crease color-black"
                                                type="button"
                                                id="decrease">-
                                        </button>
                                        <input
                                               class="form-control rounded text-center bg-white color-black"
                                               id="quantity" style="border: 2px solid #6c757d" name="quantity">
                                        <button class="btn btn-outline-secondary bg-white crease color-black"
                                                type="button"
                                                id="increase">+
                                        </button>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-success btn-block text-white">
                                    Add to Cart <i class="icon-shopping-cart"></i>
                                </button>
                                </form>
                                <button type="button" class="btn btn-primary btn-block mt-2">
                                    Order <i class="icon-arrow-right"></i>
                                </button>
                            </div>
                        </div>-->





                        <div class="text-lg-center w-100 mt-3 mb-2 text-white font-weight-bold">
                            <h3>
                                Your Cart
                            </h3>
                        </div>
                        <div class="rounded-md p-3 card-shadow">
                            <div class="bg-white p-3 rounded">
                                <div class="flex items-center">
                                    <div class="flex-nowrap">
                                        <i class="icon-shopping-cart" style="font-size: x-large; color: #8bc34a"></i>
                                        <p class="font-weight-bold" style="color: #8bc34a">The ticket you are selecting</p>
                                    </div>
                                </div>
                                <div class="py-2" >
                                    <div class="flex-nowrap mb-3 text-red" style="font-size: small;">
                                      <!--  <i class="icon-add_alert"></i>
                                        <span>Choose up to 4 tickets</span>-->
                                        <span class="mb-2" style="text-decoration: underline; float: right" onclick="onDelete()">Delete all</span>
                                    </div>
<!--
                                    <div class="p-2 mb-2" style="border: 1px dashed #666666">
                                        &lt;!&ndash;Cart added&ndash;&gt;
                                        <div th:each="item : ${carts}" class="d-flex align-items-center justify-content-between">
                                            <div style="background-color: #e5e7eb">
                                                <div class="">
                                                    <p class="p-1" th:text="${item.ticket.area.area_name} + ' - ' + ${item.quantity}">
                                                        <i class="icon-close text-red ml-3"></i>
                                                    </p>
                                                </div>
                                            </div>
                                            <p th:text="${item.ticket.price}*${item.quantity}+'$'" class="ml-2 mr-1"></p>
                                        </div>-->

                                    <div id="tickets-list">

                                    </div>


                                        <!--Cart no data-->
<!--                                        <div class="mt-2">-->
<!--                                            <div class="w-full">-->
<!--                                                <p class="italic text-gray-400">Cart is empty</p>-->
<!--                                            </div>-->
<!--                                        </div>-->
                                    </div>
                                </div>

                                <hr class="mt-3 mb-2" style="border-top: 2px solid white;">
                                <div class="flex">
                                    <div class="flex w-6/12">
                                        <p class="text-white" style="font-size: large">Total ticket price: </p>
                                    </div>
                                    <div>
                                        <p id="total-price" class="font-weight-bold color-red" style="font-size: x-large"></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
    <!--/END CONTENT HERE/-->

    <div th:replace="customer_fragments::bot-fragment"></div>
</div>

<div th:replace="customer_fragments::script-fragment"></div>

<script th:inline="javascript">
    document.getElementById('decrease').addEventListener('click', function () {
        var quantity = document.getElementById('quantity');
        if (parseInt(quantity.value) > 1) {
            quantity.value = parseInt(quantity.value) - 1;
        }
    });

    document.getElementById('increase').addEventListener('click', function () {
        var quantity = document.getElementById('quantity');
        quantity.value = parseInt(quantity.value) + 1;
    });


    const tickets = /*[[${tickets}]]*/ 'default' || [];
    const match = /*[[${match}]]*/ 'default' || [];

    $(document).ready(() => {
        let html = '';
        const _carts = JSON.parse(window.localStorage.getItem('carts'));
        if (!_carts) return;
        _carts.forEach((cart) => {
            html +=  `<div class="d-flex align-items-center justify-content-between mt-2" style="width: 100%;">
                                            <div style="background-color: #e5e7eb">
                                                <div class="">
                                                    <p class="p-1">
                                                        ${cart.homeName} - ${cart.awayName}
                                                        ${cart.name} : ${cart.quantity}
<!--                                                        <i class="icon-close text-red ml-3" onclick="onRemove(cart.ticket_id)"></i>-->
                                                    </p>
                                                </div>
                                            </div>
                                            <p class="ml-2 mr-1 font-weight-bold">${cart.price} $</p>
                                        </div>`
        })
        $('#tickets-list').append(html);
        const totalPrice = _carts.reduce((prev, cart) => {
            return prev + cart.price;
        },0);
        $('#total-price').text(`${totalPrice} $`);
        $('#date-format').text(formatOnlyDate(new Date(match.match_time)));
        $('#time-format').text(formatOnlyTime(new Date(match.match_time)))
    })



    function onDelete() {
        window.localStorage.setItem('carts', JSON.stringify([]));
        window.location.reload();
    }

    function onRemove(ticketId) {
        const carts = JSON.parse(window.localStorage.getItem('carts')) || [];
        const index = carts.findIndex((cart) => cart.ticket_id == ticketId);
        if (index < 0) return;
        carts.splice(index, 1);
        window.localStorage.setItem('carts', JSON.stringify(carts));
        window.location.reload();
    }

    function padTo2Digits(num) {
        return num.toString().padStart(2, '0');
    }

    function formatOnlyDate(date) {
        return [
            date.getFullYear(),
            padTo2Digits(date.getMonth() + 1),
            padTo2Digits(date.getDate()),
        ].join('-');
    }

    function formatOnlyTime(date) {
        return [
            padTo2Digits(date.getHours()),
            padTo2Digits(date.getMinutes()),
            padTo2Digits(date.getSeconds()),
        ].join(':');
    }
    function formatDate(date) {
        return (
            [
                padTo2Digits(date.getHours()),
                padTo2Digits(date.getMinutes()),
                padTo2Digits(date.getSeconds()),
            ].join(':') + ' ' +
            [
                date.getFullYear(),
                padTo2Digits(date.getMonth() + 1),
                padTo2Digits(date.getDate()),
            ].join('-')
        );
    }

    function onAddToCart() {
        const ticket_id = +$('#ticketType').find(":selected").val();
        const quantity = +($('#quantity').val());

        try {
            const carts = JSON.parse(window.localStorage.getItem('carts')) || [];
            const cart = carts.find((cart) => cart.ticket_id === ticket_id);
            const ticket = tickets.find((ticket) => ticket.id == ticket_id);
            if (quantity > ticket?.quantity) {
                alert('Sold out');
                return;
            }
            const name = ticket?.area?.area_name || '';
            const price = ticket?.price * quantity;
            const homeName = ticket?.match?.home_team?.name;
            const awayName = ticket?.match?.away_team?.name;
            const matchTime = formatDate(new Date(ticket?.match?.match_time));
            const totalQuantity = ticket?.quantity;
            const originPrice = ticket?.price;

            if (cart) {
                if (quantity+cart.quantity > ticket?.quantity) {
                    alert('Sold out');
                    return;
                }
                cart.quantity += quantity;
                cart.price += price;
            } else {
                carts.push({ticket_id, quantity, name, price, homeName, awayName, totalQuantity, matchTime, originPrice});
            }
            window.localStorage.setItem('carts', JSON.stringify(carts));
            window.location.reload()
        } catch (e) {

        }
    }

</script>

</body>

</html>