<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Ticket List</title>
</head>
<body>
<h1>Ticket List</h1>

<table class="table">
    <thead>
    <tr>
        <th>Home Team</th>
        <th>Image Home</th>
        <th>Away Team</th>
        <th>Image Away</th>
        <th>Day</th>
        <th>Hour</th>
        <th>Price</th>
        <th>Area</th>
        <th>Qr Code</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${list}">
        <td>
            <h2 th:text="${item.name_home}"></h2>
            <img th:src="@{item.image_home}" alt="Home Team" />
        </td>
        <td>
            <h2 th:text="${item.name_away}"></h2>
            <img th:src="@{item.image_away}" alt="Away Team" />
        </td>
        <td th:text="${item.day}"></td>
        <td th:text="${item.hour}"></td>
        <td th:text="${item.price}"></td>
        <td th:text="${item.area}"></td>
        <img th:src="${qrcode}" alt="QR Code">
    </tr>
    </tbody>
</table>
</body>
</html>