<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="admin_fragments::head"></head>

<style>
  .table-responsive tbody tr td {
    vertical-align: middle;
  }
</style>

<body>
<div class="container-fluid position-relative d-flex p-0">
  <!-- Sidebar Start -->
  <div th:replace="admin_fragments::sidebar"></div>
  <!-- Sidebar End -->


  <!-- Content Start -->
  <div class="content">
    <!-- Navbar Start -->
    <nav th:replace="admin_fragments::navbar"></nav>
    <!-- Navbar End -->
    <div class="container-fluid pt-4 px-4">
      <div class="row g-4">
        <div>
          <a >
            <button type="button" class="btn btn-primary m-2" style="float: right">
              User
            </button>
          </a>
        </div>

        <div class="col-12">
          <div class="bg-secondary rounded h-100 p-4">
            <h6 class="mb-4">LIST USER</h6>
            <div class="table-responsive">
              <table class="table">
                <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Username</th>
                  <th scope="col">Email</th>
                  <th scope="col">Full Name</th>
                  <th scope="col">Phone</th>
                  <th scope="col">Role</th>
                  <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody th:if="${users != null and #lists.size(users) > 0}">
                <tr th:each="user, iterStat : ${users}">
                  <td th:text="${iterStat.index + 1}"></td>
                  <td th:text="${user.username}"></td>
                  <td th:text="${user.email}"></td>
                  <td th:text="${user.fullName}"></td>
                  <td th:text="${user.phone}"></td>
                  <td>
                    <span th:each="userRole : ${user.roles}" th:if="${userRole.name == 'ROLE_ADMIN'}">ROLE_ADMIN</span>
                    <span th:each="userRole : ${user.roles}" th:if="${userRole.name == 'ROLE_USER'}">ROLE_USER</span>
                  </td>
                  <td>
                    <button class="btn">
                      <a th:href="@{/admin/user/{id}/edit(id=${user.id})}">
                        <i class="fas fa-pencil-alt"></i>
                      </a>
                    </button>
                    <button class="btn">
                      <a th:href="@{/admin/user/{id}/delete(id=${user.id})}"
                         onclick="return confirm('Are you sure you want to delete this item?');">
                        <i class="fas fa-trash"></i>
                      </a>
                      </form>
                    </button>
                  </td>
                </tr>
                </tbody>
                <tbody th:if="${users == null or #lists.size(users) == 0}">
                <tr>
                  <td colspan="8" style="text-align: center; padding: 10px 0px;">No data</td>
                </tr>
                </tbody>
              </table>

              <div th:if = "${totalPages > 1}">
                <div class = "row col-sm-10">
                  <div class = "col-sm-2">
                    Total Rows: [[${totalItems}]]
                  </div>
                  <!--danh sach cac trang-->
                  <div class = "col-sm-1">
					<span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/admin/user/' + ${i}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
					</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Back to Top -->
  <div th:replace="admin_fragments::back-to-top"></div>
</div>

<div th:replace="admin_fragments::script"></div>
</body>

</html>
